*{
    font-family: Roboto;
  }
  .l2-box {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .l2-title {
    color: #414042;
    font-family: 'Noto Sans SC';
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border-bottom: 1px solid #f1f2f2;
    padding: 0px 0px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 5px;
    position: relative;
  }
  .l2-inner {
    // padding:0px  10px;
  }
  