:host {
  display: block;
  height: 100%;
  width: 100%;
  font-family: Roboto;

  .edit-content {
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow-y: auto;

    .p-title {
      font-weight: bold;
      font-size: 20px;
      color: #000;
    }

    .header {
      position: relative;
      margin-bottom: 18px;

      .cover {
        position: relative;
        top: -9px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        min-width: 46px;
        height: 46px;
        background: #fff;
        border-radius: 50%;
        margin-right: 20px;

        img {
          width: 25px;
          height: 25px;
        }
      }

      .brife {
        .base {
          position: relative;
          top: -5px;
          display: flex;

          .name {
            font-weight: bold;
            font-weight: 500;
            font-size: 16px;
            color: #333333;
          }

        }

        .info {
          position: relative;
          top: -7px;
          font-weight: 400;
          font-size: 12px;
          color: #999;
          padding: 0;
          border: none;
        }


      }

      .operate {
        display: flex;
        margin-top: 10px;

        &>div {
          position: relative;
          top: -5px;
          display: flex;
        }

        .permission {
          height: 30px;
          line-height: 30px;
          padding: 0 10px;
          background: #669933;
          color: #fff;
          font-weight: 400;
          font-size: 12px;
          border-radius: 26px;
          cursor: pointer;
          border: none;
        }

        .da-button {
          height: 30px;
          line-height: 30px;
          padding: 0 10px;
          background: #fff;
          border-radius: 26px;
          margin: 0 15px;
        }

        .copy {
          height: 30px;
          line-height: 30px;
          padding: 0 10px;
          background: #fff;
          border-radius: 26px;
          font-weight: 400;
          font-size: 12px;
          color: #333;
          cursor: pointer;

          img {
            width: 12px;
            height: 13px;
          }
        }



      }

      .favorite {
        position: absolute !important;
        top: -15px !important;
        right: -10px;
        width: 30px;
        height: 30px;
        background-image: url('~src/assets/images/dataTopicStore/icon_favorite.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        border-radius: 50%;
        background-color: transparent;
        border: none;

        &.active,
        &:hover {
          background-color: #0990CF;
          background-image: url('~src/assets/images/dataTopicStore/icon_favorite_w.png');
        }

      }

    }

    .statistics {
      display: flex;
      border-top: 1px solid #E9EEF6;
      border-bottom: 1px solid #E9EEF6;
      margin-bottom: 15px;

      &>div {
        width: 100%;
        flex: 1;
        padding: 4px;
        border-right: 1px solid #E9EEF6;
        text-align: center;
        height: 100px;

        .t {
          margin-top: 12px;
          font-weight: 400;
          font-size: 12px;
          color: rgba(51, 51, 51, 0.5);
        }

        .m {
          font-weight: 400;
          font-size: 14px;
          color: #333;
          margin-top: 20px
        }

        p-rating {
          ::ng-deep {
            .p-rating .p-rating-icon.pi-star-fill {
              color: #7FBA00;
            }
          }
        }
      }

      .noborder {
        border: none;
      }

      .reference {
        .b {
          font-weight: 400;
          font-size: 12px;
          color: rgba(51, 51, 51, 0.5);
        }
      }

      .tag {
        .m {
          display: flex;
          justify-content: center;
          column-gap: 5px;
          flex-wrap: wrap;

          p-tag {
            &:first-child {
              ::ng-deep {
                .p-tag {
                  background-color: #3B82F6;
                }
              }
            }

            &:nth-child(2) {
              ::ng-deep {
                .p-tag {
                  background-color: #22C55E;
                }
              }
            }

            &:nth-child(3) {
              ::ng-deep {
                .p-tag {
                  background-color: rgb(71, 236, 233);
                }
              }
            }

            &:nth-child(4) {
              ::ng-deep {
                .p-tag {
                  background-color: rgb(184, 39, 228);
                }
              }
            }

            &:nth-child(5) {
              ::ng-deep {
                .p-tag {
                  background-color: rgb(223, 187, 28);
                }
              }
            }

          }
        }
      }

      .rating {

        .m {
          justify-content: center;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          background: transparent;
          border: none;

          &:hover {

            span {
              color: #0990CF;
              text-decoration: underline;
            }
          }
        }
      }

      .favorite {
        .m {
          display: flex;
          justify-content: space-around;

          .fav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            background: #fff;
            border-radius: 50%;

            div {
              cursor: pointer;
              width: 24px;
              height: 24px;
              background-image: url('~src/assets/images/dataTopicStore/icon-heart.png');
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }

            &.active,
            &:hover {
              background: #0990CF;

              div {
                background-image: url('~src/assets/images/dataTopicStore/icon-heart-w.png');
              }
            }
          }

          .un {
            div {
              background-image: url('~src/assets/images/dataTopicStore/icon-unheart.png');
            }

            &.active,
            &:hover {
              background: #0990CF;

              div {
                background-image: url('~src/assets/images/dataTopicStore/icon-unheart-w.png');
              }
            }
          }

        }
      }

    }

    .flow {
      position: relative;
      width: 100%;
      height: 340px;
      background: #333333;
      margin: 20px 0;

      .l,
      .r {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 140px;
        width: 60px;
        height: 60px;
        background: rgba(247, 249, 253, 0.4);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        z-index: 999;
        cursor: pointer;

        img {
          width: 22px;
          height: 22px;
        }
      }

      .l {
        left: 10px;

        img {
          transform: rotate(180deg);
        }
      }

      .r {
        right: 10px;
      }

      .case-info-swiper {
        width: 100%;
        height: 100%;

        swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          height: 100%;
          width: 100%;
          border: 1px solid;

          img {
            width: 100%;
          }
        }
      }

    }

    .info {
      font-weight: 400;
      font-size: 14px;
      color: #666;
      padding-bottom: 20px;
      border-bottom: 1px solid #E9EEF6;
    }


    .lineage {
      width: 100%;
      margin-bottom: 20px;

      .l-content {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #E9EEF6;

        .flow {
          height: 340px;
          cursor: pointer;
        }
      }
    }

    .formula {
      width: 100%;
      margin-bottom: 20px;

      .f-content {
        margin-top: 15px;
        width: 100%;
        padding-bottom: 40px;
        border-bottom: 1px solid #E9EEF6;

        .string,
        .number {
          width: auto;
          height: 40px;
          background: #E9EEF6;
          border-radius: 4px;
          font-weight: 400;
          font-size: 16px;
          color: #333;
          padding: 0 10px;
        }

        span {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background: #003865;
          border-radius: 4px 4px 4px 4px;
          font-weight: 400;
          font-size: 16px;
          margin: 0 5px;

          // &.calc {
          //   cursor: pointer;
          // }

          &.operator {
            background: #333;
            width: auto;
            color: #fff;
            padding: 0 20px;
            // margin-left: 0;
          }
        }
      }
    }

    .goal {
      margin-bottom: 20px;

      .num {
        font-size: 20px;
        font-weight: bold;
        background: #fff;
        padding: 20px;
        margin-top: 10px;
        color: #91c051;
        border-radius: 5px;
      }
    }

    .evaluate {
      padding-bottom: 20px;
      border-bottom: 1px solid #E9EEF6;

      .e-content {
        padding-top: 20px;
        text-align: center;
      }

      p-rating {

        ::ng-deep {
          .p-rating .p-rating-icon {

            &.pi-star-fill,
            &.pi-star {
              color: #7FBA00;
              font-size: 28px;
            }

          }
        }
      }

    }

    .comments {
      width: 100%;
      margin-bottom: 20px;

      .c-content {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #E9EEF6;

        textarea {
          width: 100%;
          height: 100px;
          background: #fff;
          border-radius: 4px;
          margin-top: 15px;
          border: none;
          padding: 17px 20px;
        }
      }

      .footer {
        display: flex;
        margin-top: 12px;
        justify-content: flex-end;

        .da-button {
          width: 100px;
          height: 40px;
          background: #fff;
          color: #000;

          &.publish {
            background: #0990CF;
            color: #fff;
            margin-left: 12px;
          }
        }
      }
    }

    .comment-content {
      max-height: 600px;
      overflow-y: auto;

      .c-item {
        margin-bottom: 20px;

        .t {
          img {
            height: 28px;
            width: 28px;
            background: #D9D9D9;
            border-radius: 50%;
          }

          span {
            position: relative;
            top: 5px;
            font-weight: bold;
            font-size: 16px;
            color: #333;
            margin-left: 10px;
          }
        }

        .m {
          font-weight: 400;
          font-size: 14px;
          color: #333;
          margin: 15px 0;
        }

        .b {
          display: flex;
          justify-content: space-between;

          .operate {
            display: flex;
            column-gap: 26px;

            &>div {
              display: flex;
              align-items: flex-start;

              i {
                position: relative;
                top: -8px;
                left: 2px;
                width: 35px;
                height: 35px;
                background-image: url('~src/assets/images/dataTopicStore/icon-fav.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                cursor: pointer;

                &.fav {
                  background-image: url('~src/assets/images/dataTopicStore/icon-fav.png');
                }

                &.unfav {
                  background-image: url('~src/assets/images/dataTopicStore/icon-unfav.png');
                }
              }

              &.active {
                .fav {
                  background-image: url('~src/assets/images/dataTopicStore/icon-fav-d.png');
                }

                .unfav {
                  background-image: url('~src/assets/images/dataTopicStore/icon-unfav-d.png');
                }
              }
            }
          }

          .date {
            font-weight: 400;
            font-size: 14px;
            color: #666;
          }
        }

      }
    }
  }
}

::ng-deep {

  .p-rating {
    display: flex;
  }


  .business-model-permission-confirm {
    width: 360px;
    height: 258px;
    // position: absolute;

    &.ratings {
      width: 418px !important;
      height: 349px !important;
    }

    .cont {
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.15), 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
      border-radius: 16px 16px 16px 16px;
      border: 1px solid rgba(0, 0, 0, 0.12);

      &.author {
        width: 418px;
        height: 368px;

        .r-content {
          .p-title {
            font-weight: bold;
            font-size: 17px;
            color: #333;
            margin-bottom: 14px;
          }

          .e-content {
            width: 100%;


            p-rating.op {
              width: 160px;

              ::ng-deep {

                .p-rating {
                  justify-content: center;
                  column-gap: 20px;
                }

                .p-rating .p-rating-icon.pi-star-fill {
                  color: #7FBA00;

                }

                .p-rating .p-rating-icon {
                  font-size: 22px;
                }


              }
            }


          }

          .line {
            width: 100%;
            height: 1px;
            background: #E9EEF6;
            margin-top: 20px;
            margin-bottom: 15px;
          }
        }
      }

      .r-content {
        height: 100%;

        .l {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          .l-t {
            width: 100%;
            font-weight: 400;
            font-size: 14px;
            color: #666666;
            margin-bottom: 20px;
          }

          .flex {
            width: 100%;
          }

          .l-n {
            position: relative;
            top: -8px
          }

          .score {
            font-weight: bold;
            font-size: 24px;
            color: #333333;
            margin-right: 10px;
          }

          .all {
            font-weight: 400;
            font-size: 16px;
            color: #666666;
          }

          .num {
            font-weight: 400;
            font-size: 12px;
            color: #666666;
            margin-right: 50px;
          }
        }

        .r {
          width: 100%;

          p-rating {
            width: 110px;

            ::ng-deep {
              .p-rating .p-rating-icon.pi-star-fill {
                color: #7FBA00;
              }

              .p-rating .p-rating-icon {
                font-size: 14px;
              }
            }
          }

          p-progressbar {
            margin: 0 10px;

            ::ng-deep {
              .p-progressbar {
                height: 15px;

                .p-progressbar-value {
                  background: #7FBA00;
                }
              }
            }
          }

          &>div {
            display: flex;
            width: 100%;
            margin-bottom: 10px;

            span {
              display: inline-block;
              width: 100px;
            }
          }
        }
      }

      &.fav {
        .f-t {
          font-weight: bold;
          font-size: 17px;
          color: #333;
        }

        .line {
          height: 1px;
          width: 100%;
          background: #E9EEF6;
          margin: 15px 0;
        }

        .f-c {
          height: 250px;
          overflow-y: auto;

          .it {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;

            .img-bg {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              background: #F6F6F6;
              border-radius: 50%;
              margin-right: 10px;

              img {
                width: 20px;
                height: 20px;
              }
            }

            .rc-title {
              font-weight: 400;
              font-size: 14px;
              color: #333333;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

        }
      }
    }
  }
}