:host {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  .tour {
    position: relative;
    width: 100%;
    height: 100%;
    background: #00000073;
    pointer-events: auto;

    .step1 {
      width: calc(22% - 35px);
      position: absolute;
      bottom: 40px;
      left: 20px;

      .content {
        position: relative;
        padding: 0;

        .bg {
          width: 100%;
          cursor: pointer;
        }

        .close-btn {
          position: absolute;
          top: -8px;
          right: -13px;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }

      }

      .info {
        position: absolute;
        /* background: #fff; */
        padding: 5px 10px;
        border-radius: 12px;
        top: -32px;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
      }

      .tip {
        position: absolute;
        bottom: -30px;
        display: flex;
        align-items: center;
        left: calc(50% - 40px);

        &.en {
          left: calc(50% - 66px);
        }

        label {
          position: relative;
          top: 2px;
          color: #fff;
          margin-left: 5px;
          cursor: pointer;
        }
      }

    }
  }
}