:host {
  height: 100%;
  display: block;
  font-size: 16px;
  // background: #F7F9FD;

  h1 {
    font-size: 32px;
  }

  .formgroup-inline {
    margin-bottom: 0;
  }

  .sub-item {
    margin-top: 10px;
  }

  p-table {
    height: calc(100% - 60px);
    display: block;

    .t-caption {
      position: relative;
      top: -5px;

      .field {
        display: flex;
        width: 100%;
        flex: 1;
        white-space: nowrap;

        input {
          width: 100%;
        }

        ::ng-deep {
          .p-dropdown {
            width: 100%;
          }
        }
      }

      input,
      label {
        margin-right: 0;
      }

      .btn-group {
        button {
          margin-left: 30px;
        }
      }

      ::ng-deep {

        .p-dropdown,
        .p-multiselect {
          width: 200px;
        }
      }
    }

    ::ng-deep {
      table {
        width: 100%;
      }

      .p-datatable {
        height: 100%;

        .p-datatable-header {
          border: none;
          background: #fff;
          padding-right: 0;
        }

        .p-datatable-wrapper {
          height: calc(100% - 100px);
        }
      }

      td, th {
        min-width: 200px;

        .p-button {
          padding: 0 8px;
        }

      }
    }
  }

  .content {
    height: 100%;
    border-radius: 12px;
    background: #fff;
  }

  .template {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    // background-color: #fff;
    padding: 10px;
    .leftBox {
      width: 12%;
      height: 100%;
      border-radius: 20px;
      background-color: #F7F9FD;
      box-sizing: border-box;
      padding: 1px 0px;
      overflow: hidden;

      .header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 1px;

        .title {
          width: 50%;
          height: 50px;
          color: #414042;
          font-family: Noto Sans SC;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;

          p {
            width: 100%;
            position: absolute;
            left: 14px;
            right: 0;
            margin: 0 auto;
            top: 14px;
            z-index: 9;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
          }
        }

        .title-left-active {
          background: url('~src/assets/images/dataAssetManage/assetQuery/tree-title-left.png') no-repeat center;
          background-size: 100% 100%;
          width: 60%;
          padding-right: 10px;
        }

        .title-right-active {
          background: url('~src/assets/images/dataAssetManage/assetQuery/tree-title-right.png') no-repeat center;
          background-size: 100% 100%;
          width: 60%;
          padding-left: 10px;
        }
      }

      .treebox {
        width: 100%;
        overflow-x: auto;

        .node-label-class {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: nowrap;
          column-gap: 5px;

          .node-label-num {
            padding: 0px 10px;
            background-color: #669933;
            border-radius: 20px;
            color: #fff;
            font-size: 10px;
          }
        }

        h4 {
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          color: #414042;
          font-size: 14px;
        }

        .menuFormBtns {
          width: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          margin-top: 20px;

          .menuFormBtns-btns {
            display: flex;
            width: 68px;
            height: 40px;
            padding: 5px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            cursor: pointer;
          }

          .btn-blue {
            background-color: #003865;
            color: #fff;
          }

          .btn-white {
            background-color: #fff;
            color: #414042;
          }
        }
      }

      .addBtns-box {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        .addBtnds {
          width: 120px;
          height: 40px;
          border-radius: 20px;
          background-color: #fff;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #F7F9FD;
          cursor: pointer;

          .addBtnds-iocns {
            width: 20px;
            height: 20px;
            // background: url('../../../../../../assets/images/map/allocationCase/add.png') no-repeat
            //   center;
            background-size: 100% 100%;
          }
        }
      }
    }

    .rightBox {
      width: 88%;
      height: 100%;
      border-radius: 20px;
      background: #F7F9FD;

      .rightBox-main {
        position: relative;
        width: 100%;
        height: 100%;
        // background-color: #fff;
        border-radius: 20px;
        padding: 15px;
        overflow: hidden;

        .query-table-class {
          width: 100%;
          height: calc(100% - 85px);
          overflow: hidden;

          .table-title {
            width: 100%;
            height: 34px;
            color: #414042;
            font-family: Noto Sans SC;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }

  .mlr-8 {
    margin: 0 8px;
  }

  .p-input-icon-left {
    .p-inputtext {
      width: 300px;
    }
  }
}

.template-panel {
  height: calc(100% - 55px);

  .content {
    height: 100%;
    padding-bottom: 48px;
    overflow-y: auto;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  label {
    min-width: 160px;
    text-align: right;
    font-size: 14px;
    margin-right: 12px;
    font-weight: bold;
    color: #666;
  }

  &.zh {
    label {
      min-width: 120px;
    }
  }

  .label-top {
    flex-direction: column;
    width: 200px;
    align-items: baseline;

    ::ng-deep {

      .p-dropdown,
      .p-multiselect {
        width: 350px;
      }
    }
  }

  .condition {
    label {
      font-size: 14px;
      font-weight: 400;
      color: #666;
      width: 130px;
      text-align: left;
    }

    p-dropdown,
    p-inputNumber {
      margin-right: 12px;
    }
  }

  .cancel {
    margin-right: 30px;
  }

  //p-editor {
  //  ::ng-deep {
  //    .p-editor-container {
  //      height: 100%;
  //    }
  //  }
  //}

  .editor {
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: column;

    #editor {
      height: calc(100% - 80px);
    }
  }
}

::ng-deep {
  .p-editor-toolbar.ng-star-inserted {
    display: none;
  }

  .ql-toolbar.ql-snow {
    width: 100%;
  }

  .ql-container.ql-snow {
    width: 100%;
    min-height: 200px;
  }

  .announce-title {
    text-align: center;
  }

  .announce-content {
    border: 1px solid #dedede;
    overflow: auto;
    padding: 20px;
    margin: 20px 0;
    height: calc(100% - 100px);
    border-radius: 10px;
  }
}
