.query-contents {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
  background-color: #fff;

  .tableCard {
    padding: 0 20px;
  }

  .tableBox {
    height: 100%;
  }

  .sys-search-form {
    background: #fff;
    padding-bottom: 10px;

    .add {
      position: absolute;
      right: 10px;
    }
  }

  .line {
    width: 2px;
    height: 30px;
    background: #999;
  }

  .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    // background-color: #fff;
    padding: 10px;

    .leftBox {
      width: 22%;
      height: 100%;
      border-radius: 4px;
      background-color: #F7F9FD;
      box-sizing: border-box;
      padding: 1px 0px;
      overflow: hidden;

      transition: width 0.5s;

      .header {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 1px;

        .home-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 135px;
          height: 40px;
          background: #7FBA00;
          margin-left: 10px;
          margin-top: 10px;
          border-radius: 4px;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
            margin-right: 8px;
          }

          span {
            font-size: 16px;
            color: #fff;
          }
        }
      }

      .treebox {
        width: 100%;
        overflow-x: auto;

        .node-label-class {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: nowrap;
          column-gap: 5px;

          .node-label-num {
            padding: 0px 10px;
            background-color: #669933;
            border-radius: 20px;
            color: #fff;
            font-size: 10px;
          }
        }

        h4 {
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          color: #414042;
          font-size: 14px;
        }

      }
    }

    .rightBox {
      width: 78%;
      height: 100%;
      border-radius: 4px;
      background: #F7F9FD;

      .top {
        width: 100%;
        height: 282px;
        background: red;
      }

      .bottom {
        height: calc(100% - 300px);
      }
    }
  }

  .pi-plus {
    font-size: 16px;
    margin-right: 8px;
  }
}

:host ::ng-deep .p-tree-wrapper {
  &::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #F7F9FD;
    background-color: #F7F9FD !important;
    border-radius: 3px !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px !important;
    -webkit-box-shadow: inset 0 0 6px #999 !important;
    background-color: #999 !important;
  }
}

:host ::ng-deep {
  .p-tree {
    width: 100% !important;
    background: none !important;
    border: none;
    color: #414042 !important;
  }

  .p-tree-container {
    width: 100% !important;
    overflow: visible !important;
  }

  .p-treenode {
    width: 100% !important;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 5px !important;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    min-width: 100% !important;
    background-color: #0990cf !important;
    color: #fff !important;
    display: inline-flex !important;
  }

  button.p-tree-toggler {
    width: 14px !important;
    height: 14px !important;
    border-radius: unset !important;

    .pi-chevron-down {
      background-image: url('~src/assets/images/dataAssetManage/assetQuery/tree-close.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;

      &::before {
        content: '' !important;
      }
    }

    .pi-chevron-right {
      background-image: url('~src/assets/images/dataAssetManage/assetQuery/tree-open.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;

      &::before {
        content: '' !important;
      }
    }
  }

  .p-treenode-leaf>.p-treenode-content .p-tree-toggler {
    visibility: visible !important;

    .pi-chevron-right {
      background-image: url('~src/assets/images/dataAssetManage/assetQuery/tree-close.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;

      &::before {
        content: '' !important;
      }
    }
  }

  .p-treenode-children {
    padding: 0 !important;
  }

  .p-tree {
    padding: 0;
  }

  .p-tree-container {
    .p-treenode {
      button {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }

  .p-tree .p-treenode-children {
    .p-treenode-children {
      button {
        margin-right: 1rem;
        margin-left: 3rem;
      }

      .p-treenode-children {
        .p-treenode-children {
          button {
            margin-right: 1rem;
            margin-left: 5rem;
          }
        }

        button {
          margin-right: 1rem;
          margin-left: 4rem;
        }
      }
    }

    button {
      margin-right: 1rem;
      margin-left: 2rem;
    }
  }

  .p-treenode {
    padding: 0 !important;
  }

  .p-tree-selectable {
    position: relative;

    .p-tree-empty-message {
      text-align: center;
      position: absolute;
      top: 200px;
      width: 100%;
    }
  }

  .p-datatable-thead {
    background: transparent !important;
  }

  .p-datatable {

    td,
    th {
      min-width: 150px;
    }
  }
}

:host {

  .main {
    position: absolute;

    &.sm {
      .collapseIcon {
        left: 80px;
      }

      .leftBox {
        width: 90px;

        .logo {
          &>div {
            display: none;
          }

          img {
            position: relative;
            left: 10px;
          }
        }

        .customer {
          visibility: hidden;
        }

        .home {
          span {
            display: none;
          }

          img {
            position: relative;
            left: 10px;
          }
        }

        .m-list {
          overflow: hidden;

          .search-bar {
            background-color: #fff;

            img {
              right: 21px;
            }

            input {
              visibility: hidden;
            }
          }
        }
      }

      .rightBox {
        width: calc(100% - 90px) !important;
      }
    }

    .collapseIcon {
      position: absolute;
      z-index: 9;
      left: calc(20% + 10px);
      top: 40px;
      width: 40px;
      height: 40px;
      background-image: url('~src/assets/images/dataTopicStore/icon_btn_shouqi.png');
      transform: rotate(90deg);
      background-size: 100% 100%;
      cursor: pointer;

      &:hover {
        background-image: url('~src/assets/images/dataTopicStore/icon_btn_shouqi_hover.png');
        background-size: 100% 100%;
        transform: rotate(90deg);
      }

      &.right {
        transform: rotate(0deg);

        &:hover {
          transform: rotate(0deg);
        }

      }
    }
  }

  .leftBox {
    position: relative;
  }

  .menu {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: width 0.5s;
    padding: 15px;

    .logo {
      width: 100%;
      display: flex;

      &>div {
        position: relative;
        top: 8px;
      }

      img {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        transition: width 0.5s;
        margin-right: 15px;
      }

      .name {
        font-weight: bold;
        font-size: 16px;
        color: #003865;
      }

      .info {
        font-weight: 400;
        font-size: 12px;
        color: #666;
      }
    }

    .m-list {
      font-weight: 400;
      font-size: 14px;
      height: calc(100% - 50px);
      overflow-y: auto;

      .home {
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;
        background: #0990CF;
        border-radius: 4px;
        padding: 4px 12px;
        cursor: pointer;

        &.create {
          margin-top: 10px;
          background: #669933;
        }

        img {
          width: 20px;
          height: 20px;
          margin-right: 17px;
        }

        span {
          font-weight: bold;
          font-size: 14px;
          color: #FFFFFF;
        }
      }

      .line {
        height: 1px;
        width: 100%;
        background: #EAEAEA;
        margin-top: 15px;
        margin-bottom: 10px;
      }


      ul {
        font-size: 16px;
        background: transparent;
        border: none;



        li {
          padding-left: 14px !important;

          ::ng-deep {
            .ant-menu-submenu-title {
              padding-left: 14px !important;
            }

            [title] {
              display: inline-block;
              width: 100%;

              span {
                display: inline-block;
                width: 100%;
              }
            }
          }

          &:hover {
            background: #E0F0F8;

            span {
              // color: #fff;
            }
          }

          &.active {
            background: #E0F0F8;
          }

          &>div {
            padding-left: 14px !important;
          }
        }

      }

      &>ul {

        &>li {
          padding-left: 0 !important;

          &.ant-menu-submenu-open {
            ::ng-deep {
              .ant-menu-submenu-title {
                .ant-menu-submenu-arrow {
                  top: 35%;
                  background-image: url('~src/assets/images/dataTopicStore/icon_jian.png');
                }
              }
            }
          }

          ::ng-deep {
            .ant-menu-submenu-title {
              padding-left: 0 !important;

              .ant-menu-submenu-arrow {
                width: 20px;
                height: 20px;
                background-image: url('~src/assets/images/dataTopicStore/icon_jia.png');
                background-size: 100% 100%;

                &::after,
                &::before {
                  visibility: hidden;
                }
              }
            }
          }

          &>ul {

            &>li {
              background: #EEF0F5;
              border-radius: 4px;

              &>ul {
                &>li {

                  background: #EEF0F5;
                  border-radius: 4px;
                  border-left: 2px solid #B7BCC5;
                }
              }
            }
          }
        }
      }

      .search-bar {
        position: relative;
        margin-top: 15px;
        margin-bottom: 20px;

        input {
          width: 100%;
          height: 40px;
          background: #fff;
          border: none;
          padding-left: 10px;
          padding-right: 35px;
          color: #000;
          font-size: 16px;

          &::placeholder {
            font-weight: 400;
            font-size: 14px;
            color: rgba(70, 79, 96, 0.3);
          }
        }

        img {
          position: absolute;
          width: 20px;
          height: 20px;
          right: 15px;
          top: 11px;
        }
      }

      .m-item {
        display: flex;
        align-items: center;
        width: 220px;
        height: 40px;
        border-radius: 10px 10px 10px 10px;
        cursor: pointer;
        margin-bottom: 5px;

        span {
          color: #333;
        }

        &.active {
          background: #EEF0F5;
          border: 2px solid #B7BCC5;
        }

        &:hover {
          background: #E0F0F8;

          span {
            color: #333 !important;
          }
        }

      }

      ::ng-deep {
        .ant-menu-inline {
          width: calc(100% - 1px);
        }

        .ant-menu-submenu-selected,
        .ant-menu-submenu-title {
          color: unset !important;
        }

        .ant-menu-item-selected,
        .ant-menu-item-selected a,
        .ant-menu-item-selected a:hover,
        .ant-menu-item>.ant-badge a:hover {
          color: #333;
        }

        .ant-menu-inline .ant-menu-item::after,
        .ant-menu-vertical .ant-menu-item::after,
        .ant-menu-vertical-left .ant-menu-item::after,
        .ant-menu-vertical-right .ant-menu-item::after {
          display: none;
        }

        .ant-menu-light .ant-menu-item-active,
        .ant-menu-light .ant-menu-item:hover,
        .ant-menu-light .ant-menu-submenu-active,
        .ant-menu-light .ant-menu-submenu-title:hover,
        .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
          color: #333;
        }

        .ant-menu-dark .ant-menu-sub,
        .ant-menu.ant-menu-dark,
        .ant-menu.ant-menu-dark .ant-menu-sub {
          background: transparent;
        }
      }

      // &::-webkit-scrollbar {
      //   width: 5px !important;
      //   height: 5px !important;
      // }

      // &::-webkit-scrollbar-track {
      //   -webkit-box-shadow: inset 0 0 6px #00000000;
      //   background-color: #00000000 !important;
      //   border-radius: 3px !important;
      // }

      // &::-webkit-scrollbar-thumb {
      //   border-radius: 7px !important;
      //   -webkit-box-shadow: inset 0 0 6px #018cf7 !important;
      //   background-color: #018cf7 !important;
      // }
    }
  }

}