* {
  font-family: Roboto;
}

.topiccategory-details {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;

  .topiccategoryDetails-main {
    width: 100%;
    height: 100%;

    .form {
      width: 100%;


      .form-item {
        width: calc(50% - 10px);

        label {
          width: 130px;
        }

        .input-text, p-treeselect {
          width: calc(100% - 130px);
          font-size: 14px !important;
        }

        ::ng-deep {

          .p-dropdown,
          .p-treeselect {
            width: 100% !important;
          }
        }
      }

      &.zh {
        .form-item {

          label {
            width: 100px;
          }

          .input-text {
            width: calc(100% - 100px);
          }
        }
      }
    }
  }
}

:host ::ng-deep .p-overlay {
  min-width: 10% !important;
  max-width: 100% !important;
}