*{
  font-family: Roboto;
}
.contents {
  width: 100%;
      height: 100%;
  padding: 10px;
  background-color: #fff;
  .contents-form {
    width: 100%;
    // overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
    label {
      // width: 100px;
      text-align: right;
      color: #414042;
      font-family: Noto Sans SC;
      // font-size: 14px;
      font-style: normal;
      // font-weight: 400;
      line-height: normal;
    }
    .contents-form-item {
      // overflow: hidden;
      display: flex;
      align-items: center;
      column-gap: 10px;
      .input-text {
        width: 300px;
        background-color: #fff;
        border: 1px solid #e6e6e6;
      }
      .field-radiobutton {
        width: 115px;
        display: flex;
        align-items: center;
        justify-content: left;
        column-gap: 10px;
        label {
          text-align: left;
        }
      }
      .remark-text {
        width: 480px;
      }
    }
  }
  .tableBox {
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 20px;
    background-color: #f1f2f2;
    // overflow: hidden;
    padding: 5px;
    .tableCard {
      width: 100%;
      height:100%;
      table,
      tbody {
        display: block;
        height: 40px !important;
      }
      tbody {
        overflow-y: scroll;
      }
      table thead,
      tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
    }
  }
  .mian {
    width: 100%;
    height: 100%;
    // height: calc(100% - 60px);
    // overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    .leftBox {
      height: 100%;
      width: 40%;
      border-radius: 20px;
      background-color: #fff;
      box-sizing: border-box;
      padding: 10px;
      // overflow: hidden;
      .header {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        .title {
          color: #414042;
          font-family: Noto Sans SC;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .title-small {
          color: #999;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          text-transform: uppercase;
        }
      }

      .tableBox {
        width: 100%;
        // overflow: hidden;
        table,
        tbody {
          display: block;
          height: 50px;
        }
        tbody {
          overflow-y: scroll;
        }
        table thead,
        tbody tr {
          display: table;
          width: 100%;
          table-layout: fixed;
        }
      }
    }
    .rightBox {
      width: 60%;
      height: 100%;
      border-radius: 20px;
      background-color: #fff;
      box-sizing: border-box;
      padding: 10px;
      // overflow: hidden;
      .header {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        .title {
          color: #414042;
          font-family: Noto Sans SC;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .title-small {
          color: #999;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          text-transform: uppercase;
        }
      }
      .treebox {
        width: 100%;
        height: 90%;
        box-sizing: border-box;
        overflow-y: auto;
        .node-label-class {
          display: flex;
          align-items: center;
          column-gap: 10px;
          .node-label-num {
            border-radius: 20px;
            background: #693;
            display: inline-flex;
            padding: 0px 8px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            color: #fff;
          }
        }
      }
      .rightBox-form-btnsBox {
        width: 100%;
        // overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin-top: 20px;
        .rightBox-form-btns {
          display: flex;
          width: 95px;
          padding: 10px 6px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 4px;
          cursor: pointer;
        }
        .btn-blue {
          background-color: #0990cf;
          color: #fff;
        }
        .btn-white {
          background-color: #fff;
          color: #414042;
          border: 1px solid #e6e6e6;
        }
      }
    }
  }
}

.treebox {
  width: 100%;
  height: 90%;
  box-sizing: border-box;
  overflow-y: auto;
  .node-label-class {
    display: flex;
    align-items: center;
    column-gap: 10px;
    .node-label-num {
      border-radius: 20px;
      background: #693;
      display: inline-flex;
      padding: 0px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      color: #fff;
    }
  }
}
::ng-deep {
  .p-tree {
    background: none !important;
    border: none;
    color: #414042 !important;
  }
  .p-tree-container {
    font-size: 14px;
    color: #414042;
  }
}



::ng-deep .main-content .p-datatable-scrollable .p-datatable-tbody tr:nth-child(2n + 1) {
  background-color: #F5F5F5 !important;
}
:host ::ng-deep .p-datatable > .p-datatable-wrapper {
   &::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f1f2f2;
    background-color: #f1f2f2 !important;
    border-radius: 3px !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px !important;
    -webkit-box-shadow: inset 0 0 6px #999 !important;
    background-color: #999 !important;
  }
}

:host ::ng-deep {
  .p-inputtext {
    height: auto;
  }
  .p-ripple {
    background-color: #fff !important;
  }
  // .p-inputtext {
  //   height: auto !important;
  //   background-color: #fff;
  // }
  // .p-dropdown {
  //   width: 100% !important;
  //   background-color: #fff !important;
  //   border-bottom: 1px solid #e6e6e6 !important;
  // }
  // .p-dropdown .p-dropdown-label {
  //   // border-bottom: 1px solid #e6e6e6 !important;
  // }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #e3f2fd !important;
    border-color: #e3f2fd !important;
  }
  .p-paginator{
    border:none !important
  }
}