:host {
  height: calc(100% - 52px);
  display: block;
  font-size: 16px;
  background: #F7F9FD;

  h1 {
    font-size: 32px;
  }

  .formgroup-inline {
    margin-bottom: 0;
  }

  p-table {
    height: calc(100% - 90px);
    display: block;

    .t-caption {
      position: relative;
      top: -5px;
      // display: flex;
      // justify-content: space-between;

      .field {
        display: flex;
        width: 100%;
        flex: 1;
        white-space: nowrap;

        input {
          width: 100%;
        }

        ::ng-deep {
          .p-dropdown {
            width: 100%;
          }
        }
      }

      input,
      label {
        margin-right: 0;
      }

      .btn-group {
        button {
          margin-left: 30px;
        }
      }

      ::ng-deep {

        .p-dropdown,
        .p-multiselect {
          width: 150px;
        }
      }
    }

    ::ng-deep {
      table {
        width: 100%;
      }

      .p-datatable {
        height: 100%;

        .p-datatable-header {
          border: none;
          background: #fff;
          padding-right: 0;
        }

        .p-datatable-wrapper {
          height: calc(100% - 100px);
        }
      }

      td .p-button {
        padding: 0 8px;
      }

      td {
        .status  {
          border-radius: 20px;
          text-align: center;
          padding: 0 10px;
          height: 20px;

          &.Running {
            background: #E9F8FF;
            color: #0990CF;
          }

          &.Stop {
            background: #E9F8FF;
            color: #cf2709;
          }

          &.Aprd {
            background: #F0F7E0;
            color: #669933;
          }

          &.Finish,&.Completed {
            background: #E1FCEF;
            color: #14804A;
          }

          &.Reject {
            background: #FFE8EA;
            color: #FD182B;
          }

          &.Cancel {
            background: #F2F2F2;
            color: #8B8B8B;
          }
        }
      }
    }
  }

  .content {
    height: 100%;
    border-radius: 12px;
    background: #fff;
  }

  .template {
    height: 100%;
  }

  .mlr-8 {
    margin: 0 8px;
  }

  .p-input-icon-left {
    .p-inputtext {
      width: 300px;
    }
  }
}

.template-panel {
  height: calc(100% - 55px);

  .content {
    height: 100%;
    padding-bottom: 48px;
    overflow-y: auto;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  label {
    min-width: 160px;
    text-align: right;
    font-size: 14px;
    margin-right: 12px;
    font-weight: bold;
    color: #666;
  }

  &.zh {
    label {
      min-width: 120px;
    }
  }

  .label-top {
    flex-direction: column;
    width: 200px;
    align-items: baseline;

    ::ng-deep {

      .p-dropdown,
      .p-multiselect {
        width: 350px;
      }
    }
  }

  .condition {
    label {
      font-size: 14px;
      font-weight: 400;
      color: #666;
      width: 130px;
      text-align: left;
    }

    p-dropdown,
    p-inputNumber {
      margin-right: 12px;
    }
  }

  .cancel {
    margin-right: 30px;
  }

  //p-editor {
  //  ::ng-deep {
  //    .p-editor-container {
  //      height: 100%;
  //    }
  //  }
  //}

  .editor {
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: column;

    #editor {
      height: calc(100% - 80px);
    }
  }
}

::ng-deep {
  .p-editor-toolbar.ng-star-inserted {
    display: none;
  }

  .ql-toolbar.ql-snow {
    width: 100%;
  }

  .ql-container.ql-snow {
    width: 100%;
    min-height: 200px;
  }

  .announce-title {
    text-align: center;
  }

  .announce-content {
    border: 1px solid #dedede;
    overflow: auto;
    padding: 20px;
    margin: 20px 0;
    height: calc(100% - 100px);
    border-radius: 10px;
  }
}
