// *{
//     font-family: Roboto;
//   }
// .index-text-class{
//     width: 100%;
// }
// .custom-header {
//     background-color: #fff !important;
//     color: #000 !important;
//   }
//   .custom-body{
//       background-color: #fff !important;
//       color: #000 !important; 
//   }