:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;

  .top {
    height: 30%;
    background-image: url('~/src/assets/images/dataTopicStore/img_busmdel.png');
    background-size: 100% 100%;
    margin-bottom: 10px;
    padding: 20px 43px;

    .l1,
    .l2 {
      font-weight: 400;
      font-size: 2.2vh;
      color: #666;
    }

    .l2 {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .l3,
    .l4 {
      font-weight: bold;
      font-size: 4vh;
      color: #003865;
    }
  }

  .bottom {
    height: 70%;
  }

  .home-panel {
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
    column-gap: 10px;

    &>div {
      width: 100%;
      height: 100%;
      background: #F7F9FD;
      border-radius: 4px;
      padding: 15px 10px;

      &.more {

        .more {
          font-size: 14px !important;
          border: 1px solid #000;
          border-radius: 10px;
          padding: 5px 10px;
        }

        .lc {
          display: flex;
          flex-wrap: wrap;
          column-gap: 10px;
          align-content: baseline;

          .t-item {
            width: calc(33.33% - 7px) !important;
          }
        }

      }

      .lt {
        font-family: Roboto;
        margin-bottom: 15px;

        &>span {
          font-weight: bold;
          font-size: 20px;
          color: #333333;
        }

        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        .more {
          position: relative;
          float: right;
          font-size: 30px;
          letter-spacing: 1px;
          font-weight: bold;
          cursor: pointer;

          &.circle {
            width: 32px;
            height: 32px;
            background-color: #FFFFFF;
            border-radius: 32px;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(~/src/assets/images/dataTopicStore/icon_more.png);
            background-size: cover;

            img {
              margin: 0;
            }

            &:hover {
              background-image: url(~/src/assets/images/dataTopicStore/icon_more_w.png);
              background-color: #666;
            }
          }
        }
      }

      .lc {
        height: calc(100% - 45px);
        overflow-y: auto;
        width: 100%;
        padding: 5px;

        &::-webkit-scrollbar {
          width: 0 !important
        }

        .t-item {
          // display: flex;
          width: 100%;
          height: 152px;
          background: #FFFFFF;
          border-radius: 4px;
          margin-bottom: 10px;
          padding: 10px;
          cursor: pointer;

          &:hover {
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          }

          .it {
            display: flex;
          }

          .ib {
            position: relative;
            display: flex;
            margin-top: 8px;

            .rc-content {
              width: calc(100% - 40px);
              display: -webkit-box;
              overflow: hidden;
              text-overflow: ellipsis;
              word-break: break-all;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              font-family: Roboto, Roboto;
              font-weight: 400;
              font-size: 14px;
              color: #666;
              line-height: 22px;
              padding-right: 20px;
            }

            .arrow {
              position: absolute;
              right: 0;
              top: 22px;
              width: 40px;
              height: 40px;
              background-color: #F6F6F6;
              border-radius: 20px;
              background-image: url(~/src/assets/images/dataTopicStore/icon_arw_tr.png);
              background-size: cover;

              img {
                margin: 0;
              }

              &:hover {
                background-image: url(~/src/assets/images/dataTopicStore/icon_arw_tr_w.png);
                background-color: #666;
              }
            }
          }

          .img-bg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            background: #F6F6F6;
            border-radius: 23px;
            margin-right: 10px;

            img {
              width: 25px;
              height: 25px;
            }
          }

          .r-content {
            position: relative;
            display: flex;
            width: calc(100% - 56px);

            .rc-title {
              font-family: Noto Sans SC;
              font-weight: 500;
              font-size: 16px;
              color: #333333;
              margin-bottom: 4px;

              display: -webkit-box;
              overflow: hidden;
              text-overflow: ellipsis;
              word-break: break-all;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }

            .r-name {
              width: calc(100% - 60px);
            }

            .rc-author {
              font-weight: 400;
              font-size: 12px;
              color: #999;
              background: transparent;
              border: none;
              padding: 0;
              cursor: pointer;
            }

            .permission {
              position: absolute;
              right: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 15px;
              height: 30px;
              background: #7FBA00;
              border-radius: 26px 26px 26px 26px;
              font-weight: 400;
              font-size: 12px;
              color: #fff;
              border: none;
              cursor: pointer;
            }


          }
        }
      }
    }


  }
}


::ng-deep {
  .business-model-permission-confirm {
    width: 360px;
    height: 258px;
    // padding: 10px;

    .cont {
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.15), 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
      border-radius: 16px 16px 16px 16px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      padding: 20px;

      .l1 {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background: #F0F0F0;
          border-radius: 50%;

          img {
            width: 28px;
          }
        }
      }

      .l2 {
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        color: #333333;
        margin-bottom: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .l3,
      .l4 {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.65);
      }

      .l5 {
        display: flex;
        column-gap: 12px;
        margin-top: 12px;
        width: 100%;

        &>div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(50% - 8px);
          height: 40px;
          background: #F0F0F0;
          border-radius: 4px 4px 4px 4px;
          cursor: pointer;
        }

        .yes {
          background-color: #0990CF;
          color: #fff;
        }
      }
    }
  }
}