:host {
  .content {
    padding: 0;
    height: calc(100% - 15px);

    input {
      width: 100%;
      color: #000;
    }

    p-multiSelect {
      width: 100%;

      ::ng-deep {
        .p-multiselect {
          width: 100%;
        }
      }

    }

    .form-item {
      width: calc(25% - 15px);

      ::ng-deep {
        .p-multiselect, .p-dropdown, textarea {
          width: 100%;
        }
      }
    }
  }
}
