//
// Effects
// --------------------------------------------------

// Helpers
.no-transition {
	transition: none !important;
}

// Ripple effect (mostly for buttons usage)
.click-ripple {
	position: absolute;
	display: block;
	background: $general-click-ripple-background-color;
	border-radius: 100%;
	transform: scale(0);

	&.animate {
		animation: click-ripple 0.6s ease-out;
	}
}

@keyframes click-ripple {
	50% {
		transform: scale(2);
		opacity: 0.6;
	}

	100% {
		transform: scale(3);
		opacity: 0;
	}
}
