:host {
  height: 100%;
  display: block;
  background: #f0f2f5;

  .content {
    height: 100%;
    padding: 0;

    .contents-form {
      display: block;
      height: 100%;
      width: 50%;
      margin: 0 auto;
      overflow-y: auto;
      padding-top: 20px;
      row-gap: 20px;

      .no-bg {
        background: transparent;
      }

      .remark-text {
        height: 124px;
        width: 100%;
      }

      .setting {
        padding: 20px;
        background: #EEF1F5;
        margin-bottom: 20px;
      }

      &>.form-item {
        margin-bottom: 20px;
      }
    }
  }

  ::ng-deep {
    .p-multiselect {
      min-width: 200px;
    }

    .p-dropdown {
      min-width: 200px;
    }

    .p-radiobutton-box {
      border-radius: 5px;
      background: #fff;
    }

    .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
      transform: unset;
      transition-duration: 0.2s;
      background-color: unset;
    }

    .p-radiobutton-icon {
      font-family: 'primeicons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-feature-settings: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: inline-block;
      -webkit-font-smoothing: antialiased;

      &::before {
        content: '\e909';
        font-size: 14px;
        color: #fff;
      }
    }

    textarea::placeholder {
      color: rgb(177, 180, 184);
    }

    .p-calendar {
      width: 80%;
      background: #fff !important;

      input {
        background: #fff !important;
      }
    }
  }

  .form-item {
    width: 100%;

    ::ng-deep {
      .p-dropdown {
        width: 100%;
      }
    }

    textarea {
      border: none;
    }
  }

  .setting {
    width: 100%;

    .table-check {
      width: 100%;

      .align-items-center {
        margin-bottom: 10px;
      }

      label {
        font-weight: normal;
      }
    }
  }

  .c-title {
    position: relative;
    top: 15px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #003865;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    border-left: 3px solid #003865;
    margin-left: 20px;
    margin-bottom: 15px;
  }

  .wrap {
    position: relative;
    top: 15px;
    height: calc(100% - 170px);
    width: 100%;
    background: #fff;
  }

  .bottom-btn {
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      label {
        position: relative;
        top: 2px;
        margin-left: 10px;
      }
    }
  }

  label {
    font-weight: normal !important;
    color: #414042 !important;
  }

  ::ng-deep {
    label {
      font-weight: normal !important;
      color: #414042 !important;
    }
  }

}

:host ::ng-deep .table-header-title {
  padding: 15px;
  background: #147ad9;
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
}

:host ::ng-deep .table-td-label {
  background: #e6e6e6 !important;
  text-align: right !important;
  font-size: 16px !important;
  padding: 5px 20px !important;
  color: #000 !important;
}

:host ::ng-deep .table-td-value {
  text-align: left !important;
  font-size: 14px !important;
  padding: 5px 20px !important;
  color: #000 !important;
}

:host ::ng-deep .table-second-title {
  background: #b8cce4 !important;
  padding: 10px !important;
  text-align: left !important;
  font-size: 16px !important;
  font-weight: 900 !important;
  color: #000 !important;
}

:host ::ng-deep {
  .tableClass {
    width: 100% !important;
  }

  .input-text {
    width: 100% !important;
  }

  .p-multiselect {
    background-color: #fff !important;
    width: 99%;
  }

  .p-multiselect .p-multiselect-label {
    padding: 0.5rem 10px
  }

  .p-multiselect .p-multiselect-label.p-placeholder {
    font-size: 14px;
    color: #aeb2b6;
  }

  .p-multiselect-label {
    font-size: 14px;
  }

  table,
  tbody {
    width: 100% !important;
  }

  table thead,
  tbody tr {
    width: 100%;
  }
}

.downloadClass {
  position: absolute;
  left: 90px;
  top: 5px;
  color: #147ad9;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.tableClass {
  width: 100% !important;
}