:host {
    display: block;
    height: 100%;
    width: 100%;
    background: #fff;

    .r-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result {
        font-family: Roboto;
        font-weight: bold;
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    .pic {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        color: #669933;
    }
}