
*{
    font-family: Roboto;
  }
  .tableBox {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #f1f2f2;
    overflow: hidden;
    padding: 5px;
    .tableCard {
      width: 100%;
      height: 100%;
      table,
      tbody {
        display: block;
        height: 40px !important;
      }
      tbody {
        overflow-y: scroll;
      }
      table thead,
      tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
    }
  }
  
  :host ::ng-deep {
    .p-datatable-scrollable .p-datatable-tbody tr:nth-child(2n + 1) {
      background-color: #F5F5F5;
    }
    .p-inputtext {
      height: auto;
    }
    .p-ripple {
      background-color: #fff !important;
    }
  }
  
  :host ::ng-deep .p-datatable > .p-datatable-wrapper {
    &::-webkit-scrollbar {
      width: 7px !important;
      height: 7px !important;
    }
  
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #f1f2f2;
      background-color: #f1f2f2 !important;
      border-radius: 3px !important;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 7px !important;
      -webkit-box-shadow: inset 0 0 6px #999 !important;
      background-color: #999 !important;
    }
  }
  
  
  :host ::ng-deep {
    // .p-tree {
    //   background: none !important;
    //   border: none;
    //   color: #414042 !important;
    // }
    // .p-inputtext {
    //   height: auto !important;
    //   background-color: #f1f2f2;
    // }
    // .p-datatable-scrollable .p-datatable-tbody tr:nth-child(2n + 1) {
    //   background-color: #f5f5f5;
    // }
    // .p-datatable .p-datatable-tbody > tr > td {
    //   border: none !important;
    // }
    // .p-inputtext {
    //   height: auto;
    // }
    .p-ripple {
      background-color: #fff !important;
    }
  }
  