//
// FullCalendar
//
// Overwrite/Extend styles
// --------------------------------------------------

.fc-bootstrap4 {
	.fc-toolbar h2 {
		font-weight: 400;
	}

	a.fc-event:not([href]):not([tabindex]) {
		color: $body-color-dark;
	}

	.fc-event {
		padding-right: 0.125rem;
		padding-left: 0.25rem;
		color: $body-color-dark;
		font-weight: 600;
		border: 1px solid theme-color('info-light');
		border-radius: 0;

		@include hover {
			color: $body-color;
		}
	}

	.fc-event,
	.fc-event-dot {
		background-color: theme-color('info-light');
	}

	thead th.fc-day-header {
		padding-top: 0.375rem;
		padding-bottom: 0.375rem;
		font-weight: 600;
		font-size: 1rem;
		text-transform: uppercase;
		background-color: $body-bg-light;
	}

	th,
	td,
	thead,
	tbody,
	.fc-divider,
	.fc-row,
	.fc-content,
	.fc-popover,
	.fc-list-view,
	.fc-list-heading td,
	.fc-list-table.table {
		border-color: $body-bg-dark;
	}

	.fc-divider,
	.fc-list-heading td,
	.fc-popover .fc-header {
		background: $body-bg;
	}

	.fc-today {
		background: $body-bg-light;
	}

	.btn {
		height: 2.375rem;
	}

	@include media-breakpoint-down(sm) {
		.fc-toolbar {
			.fc-left,
			.fc-center,
			.fc-right {
				display: block;
				float: none;
				padding: 0.25rem 0;
				text-align: center;

				.btn-group {
					margin-top: 0.25rem;
					margin-bottom: 0.25rem;
				}
			}

			> * > * {
				float: none;
			}
		}
	}
}
