//
// UI/UX Suite - ui-js Styles
// --------------------------------------------------

// Global-variables
@import '../general/variables';

// Custom styled components
@import './bootstrap-colorpicker';
@import './bootstrap-datepicker';
@import './ckeditor';
@import './dropzone';
@import './datatables';
@import './easy-pie-chart';
@import './fullcalendar';
@import './ion-range-slider';
@import './jquery-sparkline';
@import './jvector-map';
@import './select2';
@import './simplemde';
@import './summernote';
@import './slick';
