.f-container {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;

  .form {
    width: 100%;
  
  
    .form-item {
      width: calc(50% - 10px);
  
      label {
        width: 135px;
      }
  
      .input-text {
        width: calc(100% - 135px);
        font-size: 14px !important;
      }
    }
  
    &.zh {
      .form-item {
  
        label {
          width: 135px;
        }
  
        .input-text {
          width: calc(100% - 135px);
        }
      }
    }
  }
}
