//
// Forms
// --------------------------------------------------

.form-control {
	font-family: $font-family-base;

	// Alternative Style
	&.form-control-alt {
		background-color: $body-bg;
		border-color: $body-bg;
		transition: none;

		&:focus {
			background-color: $body-bg-dark;
			border-color: $body-bg-dark;
			box-shadow: none;
		}

		&.is-valid {
			background-color: theme-color('success-light');
			border-color: theme-color('success-light');

			&:focus {
				background-color: lighten(theme-color('success-light'), 2%);
				border-color: lighten(theme-color('success-light'), 2%);
			}
		}

		&.is-invalid {
			background-color: theme-color('danger-light');
			border-color: theme-color('danger-light');

			&:focus {
				background-color: lighten(theme-color('danger-light'), 2%);
				border-color: lighten(theme-color('danger-light'), 2%);
			}
		}
	}
}
