//
// Layout
// --------------------------------------------------

// Main Structure
#page-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	height: 100%;
	margin: 0 auto;
}

#page-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-page-overlay;
	background-color: $general-page-overlay-background-color;
	transform: translateY(-100%);
	opacity: 0;
	transition: opacity $side-transition;
	content: '';

	@include media-breakpoint-up(lg) {
		.side-overlay-o.enable-page-overlay & {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

#main-container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	max-width: 100%;
}

// Main Content
.content {
	@include content-layout($space-mobile, $space-mobile);

	@include media-breakpoint-up(md) {
		@include content-layout($space-base, $space-base);
	}

	@include media-breakpoint-up(xl) {
		&.content-narrow {
			max-width: $space-narrow !important;
		}
	}

	&.content-boxed {
		max-width: $space-boxed !important;
	}

	&.content-top {
		padding-top: $header-height + $space-mobile;

		@include media-breakpoint-up(lg) {
			padding-top: $header-height + $space-base;
		}
	}
}

.content-section-top {
	padding-top: $header-height;
}

// Side Content
.content-side {
	@include content-layout($space-side, $space-side, hidden);
}
