//
// Lists
// --------------------------------------------------

// Base List
.list {
	@include list-unstyled;

	> li {
		position: relative;
	}

	&.list-simple > li,
	&-li-push > li {
		margin-bottom: 1.25rem;
	}

	&.list-simple-mini > li,
	&-li-push-sm > li {
		margin-bottom: 0.625rem;
	}
}

// Activity
.list-activity {
	> li {
		margin-bottom: 0.75rem;
		padding-bottom: 0.375rem;
		padding-left: 2rem;
		border-bottom: 1px solid $body-bg;

		> i:first-child {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 1.25rem;
			height: 1.25rem;
			line-height: 1.25rem;
			text-align: center;
		}
	}

	> li:last-child {
		border-bottom: none;
	}
}

// Events
.list-events > li {
	margin-bottom: 0.25rem;
	padding: 0.5rem 0.75rem;
	font-weight: 600;
	font-size: $font-size-sm;
	background-color: theme-color('info-light');
	transition: transform 0.3s ease-out;

	@include hover {
		transform: translateX(-0.25rem);
		cursor: move;
	}
}
