//
// Main Navigation
// --------------------------------------------------

.nav-main {
	@include list-unstyled;

	margin-right: -$space-side;
	margin-left: -$space-side;
}

// Headings
.nav-main-heading {
	padding: 1.375rem $space-side 0.375rem;
	color: lighten($body-color, 25%);
	font-weight: 600;
	font-size: 0.75rem;
	letter-spacing: 0.0625rem;
	text-transform: uppercase;
}

.nav-main-item {
	// Fixing flexbox IE10-11 bug, so we can use min-height in links and align their content vertically
	display: flex;
	flex-direction: column;
}

// Default links
.nav-main-link {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 2.5rem;
	padding: 0.625rem $space-side;
	color: $body-color;
	font-size: $font-size-sm;
	line-height: 1rem;

	.nav-main-link-icon {
		display: inline-block;
		flex: 0 0 auto;
		min-width: 1rem;
		margin-right: 0.625rem;
		color: lighten($body-color, 35%);
		text-align: center;
	}

	.nav-main-link-name {
		display: inline-block;
		flex: 1 1 auto;
		max-width: 100%;
	}

	.nav-main-link-badge {
		display: inline-block;
		flex: 0 0 auto;
		margin-left: 0.625rem;
		padding-right: 0.375rem;
		padding-left: 0.375rem;
		font-size: 0.75rem;
	}

	&:hover {
		color: $body-color;
		background-color: $body-bg-light;

		> .nav-main-link-icon {
			color: $black;
		}
	}

	&.active {
		color: $black;

		> .nav-main-link-icon {
			color: $black;
		}
	}

	&.nav-main-link-submenu {
		padding-right: 2rem;

		&:before {
			position: absolute;
			top: 50%;
			right: 0.625rem;
			display: block;
			width: 1rem;
			height: 1rem;
			margin-top: -0.5rem;
			font-weight: 900;
			font-size: 0.75rem;
			/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
			font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Pro';
			line-height: 1rem;
			text-align: center;
			opacity: 0.4;
			transition: opacity $main-nav-transition,
				transform $main-nav-transition;
			content: '\f104';
		}
	}
}

// Sub menus
.nav-main-submenu {
	height: 0;
	padding-left: 1.625rem + $space-side;
	overflow: hidden;
	list-style: none;
	background-color: $general-nav-main-sub-menu-background-color;

	.nav-main-item {
		transform: translateX(-0.75rem);
		opacity: 0;
		transition: opacity $main-nav-transition, transform $main-nav-transition;
	}

	.nav-main-heading {
		padding-top: 1.25rem;
		padding-bottom: 0.25rem;
		padding-left: 0;
	}

	.nav-main-link {
		min-height: 2.125rem;
		margin: 0;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 0;
		color: lighten($body-color, 10%);
		font-size: 0.8125rem;

		&:hover,
		&.active {
			color: $black;
			background-color: transparent;
		}
	}

	.nav-main-submenu {
		padding-left: 0.75rem;
	}
}

// Active sub menu
.nav-main-item.open {
	> .nav-main-link-submenu {
		color: $black;

		> .nav-main-link-icon {
			color: $black;
		}

		&:before {
			transform: rotate(-90deg);
		}
	}

	> .nav-main-submenu {
		height: auto;

		> .nav-main-item {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

.nav-main-submenu .nav-main-item.open .nav-main-link {
	background-color: transparent;
}

// Nav Main Horizontal
.nav-main-horizontal {
	margin: 0;
}

@include media-breakpoint-up(lg) {
	.nav-main-horizontal {
		display: flex;
		flex-wrap: wrap;

		// Headings
		.nav-main-heading {
			display: none;
		}

		// Nav li items
		> .nav-main-item {
			position: relative;
			display: inline-block;

			&:not(:last-child) {
				margin-right: 0.25rem;
			}
		}

		// Link
		.nav-main-link-submenu:before {
			content: '\f107';
		}

		// Sub menus
		.nav-main-submenu {
			position: absolute;
			left: 0;
			z-index: $zindex-dropdown - 5;
			width: 230px;
			padding-left: 0;
			background-color: $body-bg;
			box-shadow: $general-nav-main-sub-menu-lg-box-shadow;

			&.nav-main-submenu-right {
				right: 0;
				left: auto;
			}

			.nav-main-link {
				padding-left: 1rem;
			}

			.nav-main-link-submenu:before {
				content: '\f105';
			}

			.nav-main-item.open > .nav-main-link-submenu:before {
				transform: scaleX(-1);
			}
		}

		// Active sub menu
		.nav-main-item.open {
			> .nav-main-link-submenu:before {
				transform: scaleY(-1);
			}

			> .nav-main-submenu {
				height: auto;
				margin-top: -1px;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				overflow: visible;

				> .nav-main-item {
					transform: translateX(0);
				}
			}
		}

		// Sub menus - 2++ Level
		.nav-main-submenu .nav-main-submenu {
			top: -0.5rem;
			right: -100%;
			left: auto;
			margin-top: 0;
		}

		// Menu variations
		&.nav-main-horizontal-center {
			justify-content: center;
		}

		&.nav-main-horizontal-justify {
			> .nav-main-item {
				flex: 1 1 auto;
			}
		}

		&.nav-main-hover {
			.nav-main-item:hover {
				> .nav-main-link-submenu {
					color: $black;
					opacity: 1;

					> .nav-main-link-icon {
						color: $black;
					}

					&:before {
						transform: scaleY(-1);
					}
				}

				> .nav-main-submenu {
					height: auto;
					margin-top: -1px;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					overflow: visible;

					.nav-main-submenu {
						margin-top: 0;
					}

					> .nav-main-item {
						transform: translateX(0);
						opacity: 1;
					}
				}
			}
		}

		&.nav-main-hover .nav-main-submenu {
			.nav-main-item:hover > .nav-main-link-submenu:before {
				transform: scaleX(-1);
			}
		}
	}
}

// Dark Sidebar Variation
.nav-main-dark,
.sidebar-dark #sidebar,
.page-header-dark #page-header {
	// Headings
	.nav-main-heading {
		color: $general-nav-main-dark-heading-color;
	}

	// Default links
	.nav-main-link {
		color: $general-nav-main-dark-link-color;

		> .nav-main-link-icon {
			color: $general-nav-main-dark-link-icon-color;
		}

		&:hover {
			color: $general-nav-main-dark-link-hover-color;
			background-color: $general-nav-main-dark-link-hover-background-color;

			> .nav-main-link-icon {
				color: $white;
			}
		}

		&.active {
			color: $white;

			> .nav-main-link-icon {
				color: $white;
			}
		}
	}

	// Sub menus
	.nav-main-submenu {
		background-color: $general-nav-main-dark-sub-menu-background-color;

		.nav-main-link {
			color: $general-nav-main-dark-sub-menu-link-color;

			&:hover,
			&.active {
				color: $white;
				background-color: transparent;
			}
		}
	}

	// Active sub menu
	.nav-main-item.open {
		> .nav-main-link-submenu,
		> .nav-main-link-submenu > .nav-main-link-icon {
			color: $white;
		}

		> .nav-main-submenu {
			background-color: $general-nav-main-dark-open-sub-menu-bg-color;
		}
	}

	.nav-main-submenu .nav-main-item.open .nav-main-link {
		background-color: transparent;
	}
}

@include media-breakpoint-up(lg) {
	.nav-main-dark.nav-main-horizontal,
	.sidebar-dark #sidebar .nav-main-horizontal,
	.page-header-dark #page-header .nav-main-horizontal {
		.nav-main-submenu {
			background-color: darken(
				theme-color('primary-darker'),
				3%
			) !important;
			box-shadow: none;
		}

		&.nav-main-hover {
			.nav-main-item:hover {
				> .nav-main-link-submenu {
					color: $white;

					> .nav-main-link-icon {
						color: $white;
					}
				}
			}

			.nav-main-submenu .nav-main-item:hover .nav-main-link {
				background-color: transparent;
			}
		}
	}
}
