//
// Page Loader
// --------------------------------------------------

#page-loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999998;
	background-color: $white;
	transform: translateY(-100%);

	&.show {
		transform: translateY(0);
	}

	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 999999;
		display: block;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		margin-left: -30px;
		background-color: theme-color('primary');
		border-radius: 100%;
		animation: page-loader 0.9s infinite ease-in-out;
		content: '';
	}
}

@keyframes page-loader {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}
