//
// Reboot
// --------------------------------------------------

// Document
html {
	height: 100%;
	font-size: $font-size-root;
}

// Body
body {
	height: 100%;
	@if $enable-text-optimize-legibility {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

b,
strong {
	font-weight: $font-weight-bold;
}

// Links
a {
	transition: color 0.12s ease-out;

	@include media-breakpoint-up(sm) {
		&.link-fx {
			position: relative;

			&:before {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $link-color;
				transform: scaleX(0);
				visibility: hidden;
				transition: transform 0.12s ease-out;
				content: '';
			}
		}
	}

	@include hover {
		&.link-fx:before {
			transform: scaleX(1);
			visibility: visible;
		}
	}

	&:focus {
		outline-style: none !important;
	}
}

// Paragraphs
p {
	margin-bottom: $space-base;
	line-height: $paragraph-line-height;
}

.story p,
p.story {
	color: gray('700');
	font-size: 1.125rem;
	line-height: $paragraph-line-height-lg;
}

.story {
	h2,
	h3,
	h4 {
		margin-top: 3rem;
	}
}

// Forms
label {
	font-weight: 600;
}
