// Bootstrap functions
@import '~bootstrap/scss/functions';

// Custom Variables - Bootstrap
@import './variables-bootstrap';

// Bootstrap variables
@import '~bootstrap/scss/variables';

// Bootstrap mixins
@import '~bootstrap/scss/mixins';

// Custom Variables - General
@import './variables-general';
