:host {
  .wrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    background: #fff;

    .bg {
      background: #F7F9FD;
      border-radius: 4px 4px 4px 4px;
      padding: 7px 20px;
    }

    .p-title {
      font-family: Roboto, Roboto;
      font-weight: bold;
      font-size: 16px;
      color: #464F60;

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

    .p-content {
      width: 100%;
      height: calc(100% - 30px);

      #chart {
        width: 100%;
        height: 100%;
      }
    }

    .top {
      display: flex;
      width: 100%;
      height: calc(100% - 570px);
      min-height: 402px;
      justify-content: space-between;
      column-gap: 20px;

      .l,
      .m,
      .r {
        @extend .bg
      }

      .l {
        height: 100%;
        width: 750px;
        flex: 1;
      }

      .search-bar {
        margin-top: 8px;

        p-dropdown {
          display: inline-block;
          height: 30px;
          width: 110px;

          ::ng-deep {
            .p-dropdown {
              width: 100%;
              border-radius: 40px 0 0 40px;

              .p-dropdown-label {
                border-radius: 40px 0 0 40px;
                padding-left: 15px;
                font-weight: bold;
              }
            }
          }

        }

        .split {
          display: inline-block;
          height: 20px;
          width: 1px;
          background: #EEF1F5;
          ;
        }

        input {
          position: relative;
          top: 2px;
          background: #fff;
          width: calc(100% - 111px);
          border-radius: 0 40px 40px 0;
          padding-left: 10px;
        }
      }

      .search-content {
        height: calc(100% - 60px);
        // background: red;
        margin-top: 15px;

        .c-item {
          padding: 10px 15px;
          color: #010101;
          width: 100%;
          height: 62px;
          background: #fff;
          border-radius: 4px;
          cursor: pointer;
          margin-bottom: 1px;

          &:hover {
            background: #0990CF;
            color: #fff;
          }

          .t {
            display: flex;
            justify-content: space-between;

            .name {
              font-weight: bold;
              font-size: 14px;
              width: calc(100% - 120px);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .date {
              font-weight: 400;
              font-size: 12px;
            }
          }

          .b {
            display: flex;
            justify-content: space-between;

            .type {
              font-weight: 400;
              font-size: 12px;
            }

            .status {
              padding: 0 15px;
              height: 22px;
              background: #FBF2E7;
              border-radius: 4px;
              font-weight: 500;
              font-size: 12px;
              color: #D5770B;

              &.approved {
                background: #E7F4FB;
                color: #0990CF;
              }
            }
          }
        }
      }

      .m {
        height: 100%;
        width: 545px;
      }

      .r {
        height: 100%;
        width: 545px;

        p-dropdown {
          height: 30px;
          width: 80px;
        }
      }
    }


    .mid-wrap {
      display: flex;
      width: 100%;

      .asset-query {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Roboto, Roboto;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        width: 200px;
        height: 100px;
        position: relative;
        top: 20px;
        cursor: pointer;
        background: #7FBA00;
        margin-right: 20px;
        border-radius: 4px;

        img {
          width: 24px;
          height: 24px;
          margin-bottom: 7px;
        }
      }
    }

    .mid {
      display: flex;
      @extend .bg;
      width: calc(100% - 200px);
      height: 100px;
      margin: 20px 0;

      .m-title {
        font-family: Roboto, Roboto;
        font-weight: bold;
        font-size: 20px;
        color: #464F60;
        border-right: 1px solid #dedede;
        padding-right: 2vw;
        height: 40px;
        position: relative;
        top: 27px;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
          margin-right: 20px;
        }
      }

      .m-content {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: space-around;
        overflow-y: auto;

        .m-item {
          display: flex;
          flex-direction: column;
          align-items: center;

          .val {
            font-weight: bold;
            font-size: 32px;
            color: #010101;
          }

          .name {
            font-weight: 400;
            font-size: 14px;
            color: #464F60;
          }
        }
      }
    }

    .bottom {
      display: flex;
      width: 100%;
      height: 430px;
      column-gap: 20px;
      justify-content: space-between;

      .l,
      .m,
      .r {
        @extend .bg
      }

      .l {
        flex: 1;
        height: 100%;
        // width: 973px;
        width: 50.67%;

        .p-title {
          position: relative;
        }

        .p-content {
          position: relative;
          top: 9px;
        }
      }

      .m {
        height: 100%;
        // width: 545px;
        width: 28.38%;

        .p-content {
          position: relative;
          top: 9px;
        }
      }

      .r {
        height: 100%;
        // width: 322px;
        width: 16.77%;

        .p-content {
          overflow-y: auto;
          margin-top: 8px;

          .p-item {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: calc(50% - 5px);
            height: 118px;
            background: #EEF1F5;
            border-radius: 4px;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
              background: #0990CF;

              div {
                color: #fff;
              }
            }

            img {
              width: 46px;
              height: 46px;
              margin-bottom: 10px;
            }

            div {
              font-family: Noto Sans SC, Noto Sans SC;
              font-weight: 500;
              font-size: 14px;
              color: #000000;
              width: 85px;
              text-align: center;
            }

            &:nth-child(2n + 1) {
              margin-right: 10px;
            }

            &:nth-last-child(2),
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      p-dropdown {
        position: absolute;
        right: 0;
        top: -3px;
        height: 30px;
        width: 200px;
      }
    }

    .da-button {
      display: inline-flex;
      height: auto;
      text-align: right;
      // font-size: 14px;
      cursor: pointer;
      border: 1px solid #EEF1F5;
      // padding: 3px 8px;
      border-radius: 4px;
      // color: #464F60;
      background: #EEF1F5;
      color: #000000;
    }
  }

  p-table {
    ::ng-deep {

      .p-datatable-wrapper {
        overflow-x: hidden;
      }

      .p-datatable-thead {
        background: none !important;

        tr,
        th {
          background: #F7F9FD !important;
          font-weight: bold;
          font-size: 14px;
          color: #464F60;
          border: none !important;
        }
      }

      .p-datatable-tbody {
        tr:nth-child(2n + 1) {
          background: #fff;
        }

        tr:nth-child(2n) {
          background: #F9FAFC;
        }

        tr {
          td {
            border: none;
            border-right: 2px solid #F7F9FD;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;

            &:last-child {
              border: none;
            }
          }

          &:hover {
            background: #0990CF;

            td {
              color: #fff;
            }
          }
        }
      }
    }
  }

  p-dropdown {

    ::ng-deep {
      .p-dropdown {
        width: 200px;

        .p-dropdown-label {
          background: #fff;
          line-height: 30px;
          padding: 0 5px;
        }

        .p-dropdown-trigger {
          background: #fff;
        }
      }
    }
  }

  .robot {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 117px;
  }

  .ellipsis {
    white-space: nowrap;
    /* 禁止换行 */
    overflow: hidden;
    /* 超出部分隐藏 */
    text-overflow: ellipsis;
    /* 显示省略号 */
    width: 200px;
    /* 必须设置宽度 */
  }
}
