body {
	.p-accordion {
		.p-accordion-header {
			margin-top: 0.357em;
			margin-bottom: 0;
			padding: 0;
			color: $gray-600;
			font-weight: bold;
			font-size: 14px;
			background-color: $lighter-gray-background-color;
			border: 1px solid $border-color;
			border-radius: 0;
			& > a {
				padding: 0.95rem 1.25rem;
				color: $gray-600;
				font-weight: normal;
				font-size: 1rem;
				outline: 0 none;
				.p-accordion-header-text {
					vertical-align: middle;
				}
				.p-accordion-toggle-icon {
					display: none;
					color: $gray-600;
					vertical-align: middle;
					&.pi {
						font-size: 1rem;
						text-align: left;
					}
				}
			}
		}
		&.p-accordion-show-icon {
			.p-accordion-header {
				& > a {
					.p-accordion-toggle-icon {
						display: initial;
					}
				}
			}
		}
		.p-accordion-content {
			padding: 1.25rem;
			color: $body-color;
			font-size: 1rem;
			background-color: $white;
			border: 1px solid $border-color;
		}
	}
}
