.p-autocomplete {
	width: 100%;

	.p-autocomplete-input {
		display: block;
		width: 100%;
		height: calc(1.5em + 0.75rem + 2px);
		padding: 0.375rem 0.75rem;
		color: $body-color;
		font-weight: 400;
		font-size: $font-size-root;
		line-height: $line-height-base;
		background-color: $white;
		background-clip: padding-box;
		border: 1px solid $border-color;
		border-radius: 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
	.p-autocomplete-input:enabled:focus:not(.p-state-error) {
		position: relative;
		z-index: 3;
		color: $body-color;
		background-color: $white;
		border: 1px solid $focus-border-color;
		outline: 0;
		box-shadow: $auto-complete-box-shadow;
	}

	.p-autocomplete-dropdown.p-button-icon-only {
		width: 2rem;
		height: auto;
		margin-left: -1px;
		padding: 0;
		background-color: $primary;

		&:enabled:hover,
		&:enabled:active {
			background-color: $primary-button-hover-bg-color;
			border-color: $primary-button-hover-border-color;
		}

		&:enabled:focus,
		&:enabled:active {
			outline: none;
			box-shadow: $auto-complete-box-shadow;
		}

		.p-button-text {
			padding: 0.46rem;
		}

		.p-button-label {
			padding: 0;
		}
	}

	&.p-autocomplete-multiple {
		.p-autocomplete-multiple-container {
			width: 100%;
			padding: 0.3rem 0.857rem;
			border: 1px solid $border-color;
			box-shadow: none;

			&:not(.p-disabled).p-focus {
				color: $body-color;
				background-color: $white;
				border: 1px solid $focus-border-color;
				outline: 0;
				box-shadow: $auto-complete-box-shadow;
			}

			.p-autocomplete-input-token {
				padding: 0.143rem 0.857rem 0.143rem 0;
				vertical-align: top;

				input {
					margin: 0;
					padding: 0;
					font-size: $font-size-root;
					font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
						Roboto, 'Helvetica Neue', Arial, sans-serif,
						'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
				}
			}

			.p-autocomplete-token {
				position: relative;
				display: inline-block;
				margin: 0.125rem 0.25rem 0.125rem 0;
				padding: 0.125em 0.5em;
				overflow: hidden;
				color: $white;
				font-size: $font-size-root;
				white-space: nowrap;
				vertical-align: middle;
				background-color: $primary-button-hover-bg-color;
				border-color: $primary-button-hover-border-color;
				border-radius: 4px;
				.p-autocomplete-token-icon {
					opacity: 0.3;
					transition: opacity 0.2s;
					&:hover {
						opacity: 1;
					}
				}
			}

			.p-autocomplete-token-label {
				margin-right: 1.25rem;
			}
		}

		&.p-autocomplete-dd.p-autocomplete-multiple-container {
			border-right: none;

			&:not(.p-disabled).p-focus {
				border-right: none;
			}
		}
	}
}

.p-autocomplete-panel {
	font-size: 14px;
	background-color: $white;
	border: $auto-complete-panel-border;
	border-radius: 4px;

	.p-autocomplete-items {
		padding: 0.5rem 0;

		.p-autocomplete-item {
			margin: 0;
			padding: 0.5rem 0.75rem;
			color: $body-color;
			border-radius: 0;
			&:hover,
			&.p-highlight {
				color: $black;
				background-color: $body-bg;
			}
		}

		.p-autocomplete-item-group {
			padding: 0.3rem 0.857rem;
			color: $body-color;
			background-color: $body-bg-dark;
		}
	}
}

body .p-autocomplete {
	display: inline-flex;
}

.p-fluid {
	.p-autocomplete-multiple.p-autocomplete-dd,
	.p-autocomplete-multiple-container,
	.p-autocomplete-dd .p-inputtext {
		width: calc(100% - 2rem);
		border-right: none;
	}
}
body {
	p-autocomplete {
		&:focus {
			border: none;
			outline: none;
			box-shadow: none;
		}

		&.is-invalid > .p-autocomplete > .p-inputtext {
			border-color: $danger;
			&:enabled:focus {
				border-color: $danger;
				box-shadow: $form-invalid-box-shadow;
			}
		}
	}
}

p-autocomplete.ng-dirty.ng-invalid > .p-autocomplete > .p-inputtext {
	border-color: $danger;
	&:enabled:focus {
		border-color: $danger;
		box-shadow: $form-invalid-box-shadow;
	}
}
