body .p-breadcrumb {
	margin-bottom: 0;
	padding: 0.75rem 0;
	background-color: transparent;
	border: 0 none;
	border-radius: 0.25rem;

	ul li {
		display: inline-block;
		float: none;
		font-weight: 700;
		font-size: 1rem;
		line-height: 1.2;
		vertical-align: middle;

		.p-menuitem-link {
			position: relative;
			top: -1px;
			margin: 0;
			color: $primary;
		}

		&.p-breadcrumb-chevron {
			margin: 0 6px;
			color: $gray-400;
			font-size: 1rem;
		}

		&.p-breadcrumb-home {
			font-size: 1.2rem;

			&.pi-home {
				margin: 0;
				color: $primary;
				font-size: 1.1rem;

				span {
					display: none;
				}
			}
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child .p-menuitem-link {
			color: $secondary;
		}
	}

	&.p-breadcrumbs-light {
		ul li {
			&.p-breadcrumb-chevron {
				font-size: 1.4rem;
				&:before {
					content: '/';
				}
			}
		}
	}
}
