@mixin dialog-button-styles($color, $backgroundColor, $borderColor) {
	color: $color;
	background-color: $backgroundColor;
	border: 1px solid $borderColor;
}

.p-dialog {
	color: $body-color;
	font-weight: 400;
	line-height: 1.5;
	background-color: $white;
	box-shadow: none;

	&.p-dialog-header-icons-fixed {
		.p-dialog-header-icons {
			position: absolute;
			top: $space-block;
			right: $space-block;
		}
	}

	.p-dialog-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: $dialog-padding-y $dialog-padding;
		color: $white;
		font-weight: 700;
		background-color: $primary;
		border-bottom: none;
		border-radius: 0;

		.p-dialog-title {
			flex: 1 1 auto;
			min-height: 1.75rem;
			margin: 0;
			font-weight: 600;
			font-size: $font-size-base;
			line-height: 1.75;
		}

		.p-dialog-header-icon {
			flex: 0 0 auto;
			margin-left: $dialog-margin;
			color: $white;
			font-size: $dialog-title-font-size;
			border: none;
			outline: none;
			opacity: 0.7;
			transition: opacity 0.2s;

			&:hover {
				opacity: 1;
			}
		}
	}
	.p-dialog-content {
		padding: $dialog-padding $dialog-padding 1px;
		overflow-x: visible;

		&:last-child {
			padding-bottom: $dialog-padding;
		}

		p {
			margin-top: 0;
		}
	}
	.p-dialog-footer {
		padding: $dialog-padding;
		text-align: right;
		border: none;
		border-top: 1px solid $footer-border-color;

		button {
			font-weight: 700;
			border-radius: $dialog-btn-border-radius;
			outline: none;

			&:active,
			&:hover,
			&:focus {
				outline: none;
			}
		}
	}

	.p-resizable-handle {
		&:before {
			position: absolute;
			top: 2px;
			right: 1px;
			display: block;
			width: 12px;
			height: 12px;
			color: $border-color;
			font-weight: 900;
			font-size: 26px;
			/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
			font-family: 'Font Awesome 5 Free';
			line-height: 12px;
			transform: rotate(-45deg);
			content: '\f0d7';
		}
	}
}
.p-dialog-mask.p-component-overlay {
	background-color: $dialog-backdrop-bg-color;
}
