@use 'sass:selector';

@import '~@fortawesome/fontawesome-free/scss/variables';
@import './mixins';

body .p-paginator {
	.p-paginator-current {
		margin: 0 auto 0 0;
		color: $body-color-dark;
		font-weight: 700;
		line-height: 1.5;
	}

	.p-paginator-pages {
		display: flex;
		height: auto;
		margin: 0;
		padding: 0;

		.p-paginator-element {
			margin: 0 0.25rem 0 0;

			&.p-paginator-page {
				height: auto;
			}
		}
	}
}

.p-paginator {
	display: flex;
	align-items: center;
	justify-content: center;

	.p-paginator-element {
		margin-left: 0.25rem;
		padding: 0.5rem 0.75rem;
		color: $body-color;
		font-weight: $font-weight-bold;
		font-size: $font-size-base;
		line-height: 1.25;
		background-color: $white;
		border-bottom: 2px solid transparent;
		border-radius: 0;

		&.p-paginator-first,
		&.p-paginator-last,
		&.p-paginator-prev,
		&.p-paginator-next {
			margin: 0 0.25rem 0 0;
			padding: 1.25rem 1rem;

			.p-paginator-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: 1em;
				height: 1em;
				margin-top: -0.5em;
				margin-left: -0.5em;
				text-align: center;
			}
		}

		&:not(.p-disabled):not(.p-highlight):hover {
			color: $primary;
			text-decoration: none;
			background-color: transparent;
			border-color: $primary;
		}

		&.p-highlight:not(.p-disabled),
		&:focus:not(.p-disabled),
		&:active:not(.p-disabled) {
			color: $primary;
			background-color: $lighter-gray-background-color;
			border-color: $primary;
			outline: none;
		}

		&.p-disabled {
			color: $gray-500;
			background-color: $white;
			border-color: transparent;
			pointer-events: none;
		}
	}

	.p-dropdown {
		margin-left: 0.5rem;
		.p-dropdown-label {
			padding: 0.375rem 0.2rem 0.375rem 0.75rem;
		}
	}

	@include icon-convert(
		selector.unify('.p-paginator-icon', '.pi-angle-double-left'),
		$fa-var-angle-double-left
	);
	@include icon-convert(
		selector.unify('.p-paginator-icon', '.pi-angle-double-right'),
		$fa-var-angle-double-right
	);
	@include icon-convert(
		selector.unify('.p-paginator-icon', '.pi-angle-left'),
		$fa-var-angle-left
	);
	@include icon-convert(
		selector.unify('.p-paginator-icon', '.pi-angle-right'),
		$fa-var-angle-right
	);
}
