body {
	.p-progressbar {
		display: flex;
		height: 1.5rem;
		overflow: hidden;
		font-size: 1rem;
		background-color: $border-color;
		border-radius: 0;
		.p-progressbar-value {
			display: flex;
			flex-direction: column;
			justify-content: center;
			white-space: nowrap;
			text-align: center;
			background-color: $primary;
			border-radius: 0;
			transition: width 0.6s ease;
		}
		.p-progressbar-label {
			margin-top: 0;
			color: $white;
			line-height: 1.5rem;
		}
	}
	p-progressbar {
		&.progressbar-warning {
			.p-progressbar-value {
				background-color: $warning;
			}
		}
		&.progressbar-danger {
			.p-progressbar-value {
				background-color: $danger;
			}
		}
		&.progressbar-info {
			.p-progressbar-value {
				background-color: $info;
			}
		}
		&.progressbar-success {
			.p-progressbar-value {
				background-color: $success;
			}
		}
		&.progressbar-striped {
			.p-progressbar-value {
				background-image: linear-gradient(
					45deg,
					$progress-bar-stripped-gradient-color 25%,
					transparent 25%,
					transparent 50%,
					$progress-bar-stripped-gradient-color 50%,
					$progress-bar-stripped-gradient-color 75%,
					transparent 75%,
					transparent
				);
				background-size: 1.5rem 1.5rem;
			}
		}
		&.progressbar-mini {
			.p-progressbar {
				height: 0.8rem;
				.p-progressbar-label {
					color: transparent;
				}
			}
		}
	}
}
