$ui-steps-title-top-margin: 0.375rem;
$step-item-padding: 1rem;
$step-number-indent-top: 1rem;
$step-number-size: 2.2rem;

body {
	.p-steps {
		position: relative;

		ul {
			display: flex;
			justify-content: space-around;
			margin: 0;
		}

		.p-steps-item {
			text-align: center;
			background-color: transparent;
			.p-menuitem-link {
				display: inline-block;
				padding: $step-item-padding;
				overflow: hidden;
				text-align: center;
				background-color: transparent;
				border-radius: 3px;
				&:focus {
					outline: 0 none;
					outline-offset: 0;
					box-shadow: $steps-menu-focus-box-shadow;
				}
				.p-steps-number {
					position: relative;
					top: $step-number-indent-top;
					display: inline-block;
					width: $step-number-size;
					height: $step-number-size;
					margin-bottom: 1rem;
					color: $body-color;
					font-size: 1rem;
					line-height: $step-number-size;
					text-align: center;
					background-color: $body-bg;
					border: 1px solid $border-color;
					border-radius: 50%;
				}
				.p-steps-title {
					display: block;
					margin-top: 0.375rem;
					color: $body-color;
				}
			}
			&.p-highlight {
				font-weight: 700;

				.p-steps-number {
					color: $white;
					background: $primary;
					border: 1px solid $primary;
				}
				.p-steps-title {
					color: $body-color;
				}
			}

			&.p-disabled {
				.p-menuitem-link {
					&:active,
					&:focus {
						outline: none;
						box-shadow: none;
					}
				}
			}
		}

		&.p-steps-white {
			.p-steps-item {
				.p-menuitem-link {
					.p-steps-number {
						color: $primary;
						background-color: $white;
					}
				}
			}
		}

		&.p-steps-light {
			&:before {
				border-top-color: $light-100-gray;
			}

			.p-steps-item {
				&.p-disabled {
					opacity: 1;

					.p-menuitem-link {
						.p-steps-number {
							opacity: 0.5;
						}
					}
				}

				.p-menuitem-link {
					&:focus {
						box-shadow: $steps-item-link-focus-box-shadow;
					}

					.p-steps-number {
						color: $gray-900;
						background-color: $light-100-gray;
					}

					.p-steps-title {
						color: $steps-item-link-title-color;
					}
				}

				&.p-highlight {
					.p-steps-number {
						border-color: $gray-600;
					}

					.p-steps-title {
						color: $light-100-gray;
					}
				}
			}
		}

		&:before {
			position: absolute;
			top: calc(
				#{$step-item-padding} + #{$step-number-indent-top} +
					(#{$step-number-size} / 2)
			);
			left: 0;
			display: block;
			width: 100%;
			border-top: 1px solid $border-color;
			content: ' ';
		}
	}
}
