@mixin toasts-styles($color, $backgroundColor, $boxShadow) {
	color: $color;
	background-color: $backgroundColor;
	box-shadow: $boxShadow;
}

body {
	.p-toast {
		max-width: calc(100% / 3);

		.p-toast-message {
			margin-bottom: $toast-padding-y;
		}
	}
}
.p-toast {
	.p-toast-message {
		.p-toast-message-content {
			padding: $toast-padding-y $toast-padding-x;
		}
	}
	.p-toast-message-content {
		display: block;
		.p-toast-message-text {
			margin-left: 1.75rem;
			padding-bottom: 0.25rem;

			.p-toast-summary {
				padding: 0;
				font-weight: bold;
			}
		}

		.p-toast-message-icon {
			position: absolute;
			top: 0.625rem;
			left: 1.25rem;
			font-size: 1rem;
			line-height: 1.75rem;
		}

		.p-toast-close-icon,
		.p-toast-icon-close {
			position: absolute;
			top: 0.625rem;
			right: 0.625rem;
			color: $black;
			opacity: 0.5;
			transition: opacity 0.2s;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.custom-toast .p-toast-message-content .p-toast-icon-close {
	color: $white;
}
.p-toast-message-info {
	@include toasts-styles($info-color, $info-background, $info-box-shadow);
}

.p-toast-message-success {
	@include toasts-styles(
		$success-color,
		$success-background,
		$success-box-shadow
	);
}
.p-toast-message-warn {
	@include toasts-styles($warn-color, $warn-background, $warn-box-shadow);
}
.p-toast-message-error {
	@include toasts-styles($error-color, $error-background, $error-box-shadow);
}

.p-toast-strong {
	.p-toast-message-info {
		@include toasts-styles($white, $info, darken($info, 10%));
	}

	.p-toast-message-success {
		@include toasts-styles($white, $success, darken($success, 10%));
	}
	.p-toast-message-warn {
		@include toasts-styles($white, $warning, darken($warning, 10%));
	}
	.p-toast-message-error {
		@include toasts-styles($white, $danger, darken($danger, 10%));
	}
}
