:host {
  .search-page {
    height: 100%;
    width: 100%;
    padding-top: 20px;

    .operation {
      padding-left: 10px;

      img {
        width: 20px;
        height: 20px;
        margin-right: 12px;
      }

      &>span {
        margin-right: 120px;
      }

      span {
        font-size: 16px;
        font-weight: 500;
        color: blue;
        cursor: pointer;
      }
    }


    .search-head {
      display: flex;
      position: relative;
      background: #fff;
      width: 100%;
      height: 68px;
      align-items: center;
      padding-left: 24px;
      border-radius: 12px;

      img {
        cursor: pointer;
      }

      .head-search-content {
        position: relative;
        width: 50%;

        img {
          position: absolute;
          right: 17px;
          height: 35px;
          top: 5px;
          z-index: 9;
        }
      }

      input {
        width: 100%;
        height: 44px;
        font-size: 16px;
        background: #fff;
        padding: 0 90px 0 12px;
        border: 1px solid #147AD9;

        display: flex;
        z-index: 3;
        position: relative;
        min-height: 44px;
        border: 1px solid transparent;
        background: #fff;
        box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16) !important;
        border-radius: 30px;
        margin: 0 auto;
        padding-left: 20px;
      }



      img.back {
        position: absolute;
        right: 0;
        height: 44px;
        white-space: nowrap;
        font-size: 16px;
        margin-right: 24px;
      }
    }

    .search-list {
      height: calc(100% - 145px);
      overflow-y: auto;
      border-radius: 12px;
      margin-top: 16px;

      .search-item:first-child {
        margin-top: 0;
      }

      .search-item {
        width: 100%;
        min-height: 100px;
        padding: 24px;
        margin-top: 16px;
        background: #fff;
        border-radius: 12px;
        cursor: pointer;

        .brief {
          font-size: 13px;
          font-weight: 400;
          color: #666666;
          margin-bottom: 12px;
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .category {
          margin-bottom: 12px;

          span {
            font-size: 13px;
            font-weight: 400;
            color: #ff8223;
            margin-right: 24px;
          }
        }

        .imgs {
          margin-bottom: 12px;

          img {
            width: 132px;
            height: 132px;
            border-radius: 6px 6px 6px 6px;
            margin-right: 24px;
          }
        }

        .userInfo {
          @extend .userInfo;
        }

        .title {
          @extend .title;
        }

        .title {
          @extend .operation;
        }

      }
    }

    .sub-item {
      margin-top: 5px;
    }
  }

  .nodata {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 184px;
      height: 154px;
    }

    span {
      margin-top: 24px;
      font-size: 14px;
      font-weight: 500;
      color: #BBB;
    }
  }
}