.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  width: 100%;
  padding: 10px 0px 20px 0px;
  column-gap: 10px;
  row-gap: 10px;

  .chart-item {
    background-color: #fff;
    position: relative;
    width: calc(33% - 5px);
    height: 33%;

    // background-color: #df1212;
    .p-content {
      position: relative;
      overflow-y: auto;
      height: calc(100% - 40px);
    }
  }

  // #function-table{
  //   width: 50%;
  //   height: 50%;
  //   // background-color: #8f8e8e;
  // }
  //数字标题，垂直居中，水平居中，超大数字显示数量，由0开始动态增加到实际数值，动画效果,生成对应样式
  .stats-container {
    height: calc(100% - 40px);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .stat-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    /* Adjust width and height to control the circle size */
    height: 250px;
    border-radius: 50%;
    /* This creates the circle shape */
    background-color: #005999;
    /* Standard blue color */
  }

  .stat-title {
    font-size: 16px;
    // color: #999;
    color: #fff;
    /* Changed to white for better contrast */
    margin-bottom: 10px;
  }

  .stat-value {
    font-size: 48px;
    font-weight: bold;
    // color: #333;
    color: #fff;
    /* Changed to white for better contrast */
  }
}
