/* menu breadcrumbs */
.breadcrumbs {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 14px;
    font-size: 14px;
    padding: 0 23px;
    color: #464F60;

    i {
        position: relative;
        top: 2px;
        font-size: 16px;
        color: #464F60;
    }

    span {
        

        i {
            top: 1px;
            margin-left: 4px;
        }
    }

    .left {
        display: flex;
        align-items: center;

        &>span {
            &:last-child {
                color: #0990CF;
            }
        }
    }

    .right {
        .back {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 74px;
            height: 30px;
            background: #FFFFFF;
            border-radius: 4px;
            column-gap: 10px;
            cursor: pointer;

            img {
                width: 16px;
            }
        }
    }
}