//
// Text emphasis
// --------------------------------------------------

@mixin text-emphasis-variant($parent, $color, $bool: true) {
	#{$parent} {
		color: $color !important;
	}

	a#{$parent} {
		&.link-fx:before {
			background-color: $color;
		}

		@include hover-focus {
			color: darken($color, 20%) !important;
		}
	}
}
