* {
  font-family: Roboto;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  padding: 10px;

  .rightBox {
    width: 100%;
    height: 100%;

    .form {
      width: 100%;


      .form-item {
        width: calc(50% - 10px);

        label {
          width: 130px;
        }

        .input-text {
          width: calc(100% - 130px);
          font-size: 14px !important;
        }
      }

      &.zh {
        .form-item {
  
          label {
            width: 100px;
          }

          .input-text {
            width: calc(100% - 100px);
          }
        }
      }
    }
  }
}