<nz-page-header class="site-page-header" nzBackIcon>
  <nz-page-header-title>{{flowData.taskSubject??flowData.flowTempTitle}}</nz-page-header-title>
  <!-- <nz-page-header-subtitle>{{flowData.taskSubject}}</nz-page-header-subtitle> -->
  <nz-page-header-extra>
    <nz-space>
      <div class="da-button back" (click)="goBack()">{{'back'|translate}}</div>
      <div *ngIf="flowData.flowStatus==0" class="da-button add" (click)="submit('submit')">{{'submit'|translate}}</div>
      <div *ngIf="flowData.flowStatus==0" class="da-button submit" (click)="submit('save')">{{'save'|translate}}</div>
      <div *ngIf="flowData.flowStatus===1 && userInfo.id==flowData.approverId" class="da-button add"
        (click)="openApproveDialog('agree')">
        {{'agree'|translate}}</div>
      <!-- <div *ngIf="flowData.flowStatus===1" class="da-button delete" (click)="openApproveDialog('refuse')">{{'refuse'|translate}}</div> -->
      <div *ngIf="flowData.flowStatus===1 && userInfo.id==flowData.approverId" class="da-button submit"
        (click)="openApproveDialog('reject')">
        {{'reject'|translate}}</div>
      <div *ngIf="flowData.flowStatus===1 && userInfo.id==flowData.approverId" class="da-button submit"
        (click)="openApproveDialog('return')">
        {{'return'|translate}}</div>
      <div *ngIf="flowData.flowStatus===1 && userInfo.id==flowData.approverId" class="da-button submit"
        (click)="openApproveDialog('transfer')">
        {{'transfer'|translate}}</div>
      <div *ngIf="flowData.flowStatus===1 && userInfo.id==flowData.approverId" class="da-button submit"
        (click)="openApproveDialog('jump')">
        {{'jump'|translate}}</div>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content>
    <div style="background-color: white;">
      <nz-descriptions nzSize="small" [nzColumn]="3" nzBordered>
        <nz-descriptions-item [nzTitle]="'workflow.no'|translate"
          [nzSpan]="1">{{flowData.flowNo}}</nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'label.workflow.title'|translate"
          [nzSpan]="1">{{flowData.taskSubject??flowData.flowTempTitle}}</nz-descriptions-item>

        <nz-descriptions-item nzTitle="Applicant" [nzSpan]="1"><a>{{flowData.applicantName}}</a></nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'label.workflow.actName'|translate"
          [nzSpan]="1">{{flowData.flowStepName||"开始"}}</nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="'status'|translate" [nzSpan]="1"> {{ (
          applyStatusI18NKey[flowData.flowStatusName||"Draft"]?applyStatusI18NKey[flowData.flowStatusName||"Draft"]:applyStatusI18NKey['Draft'])
          | translate }}</nz-descriptions-item>

        <nz-descriptions-item nzTitle="Submitted Date" [nzSpan]="1">{{flowData.createTime}}</nz-descriptions-item>
      </nz-descriptions>
    </div>

  </nz-page-header-content>
  <nz-page-header-footer>
    <nz-tabset [nzSelectedIndex]="0" nzType="card">
      <nz-tab nzTitle="Form Information">
        <div style="height: calc(100vh - 260px);display: block;overflow: auto; position: relative;">

          <app-dynamic-component-container #formComponent [componentType]="currentComponentType" [flowData]="flowData"
            [formData]="formData" [flowForm]="flowForm" [userInfo]="userInfo">
          </app-dynamic-component-container>

          <nz-collapse *ngIf="(flowForm.attachmentPanel.show&&flowForm.enabledUpload)"
            nzExpandIconPosition="right">
            <nz-collapse-panel [nzHeader]="'field.application.attachment.list' | translate"
              [nzActive]="flowForm.attachmentPanel.active" [nzExtra]="extraTpl">
              <p-table [value]="flowData.attacchments" [loading]="loading" styleClass="sys-table">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="xd-theader-white">{{'file.name'|translate}}</th>
                    <th style="min-width: 100px;max-width: 100px;" class="xd-theader-white">{{'file.size'|translate}}
                    </th>
                    <th style="min-width: 150px;max-width: 150px;" class="xd-theader-white">
                      {{'create.person'|translate}}</th>
                    <th style="min-width: 150px;max-width: 150px;" class="xd-theader-white">{{'create.time'|translate}}
                    </th>
                    <th style="min-width: 100px;max-width: 100px; justify-content: center" class="xd-theader-white">
                      {{'operation'|translate}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-ri="rowIndex">
                  <tr>
                    <td>{{ item.fileName }}</td>
                    <td style="min-width: 100px; max-width: 100px">{{ commonHttp.formatFileSize(item.fileSize)}}</td>
                    <td style="min-width: 150px;max-width: 150px;">{{ item.createrByName }}</td>
                    <td style="min-width: 150px;max-width: 150px;">{{ item.createTime|date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td style="min-width: 100px;max-width: 100px; justify-content: center">
                      <div class="table-button-box justify-content-center">
                        <!-- <a (click)="commonHttp.downloadFlowAttachment(item)">{{'preview' | translate}}</a> -->
                        <a (click)="commonHttp.downloadFlowAttachment(item)">{{'download' | translate}}</a>
                        <a *ngIf="flowForm.enabledUpload&&userInfo.id==item.createrBy" (click)="deleteFile(item)">{{'delete' | translate}}</a>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6" class="no-data">{{'nodata' | translate}}</td>
                  </tr>
                </ng-template>
              </p-table>
              <!-- <div class="sub-item" *ngIf="tableData.length > 0">
                  <p-paginator [first]="searchData.first" [rows]="searchData.pageSize" [totalRecords]="recordCount"
                    [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[10, 15, 20]"
                    (onPageChange)="paginate($event)"></p-paginator>
                </div> -->
            </nz-collapse-panel>
          </nz-collapse>
          <ng-template #extraTpl>
            <nz-upload *ngIf="flowForm.enabledUpload" [nzName]="'file'" [nzShowButton]="true" [nzMultiple]="true"
              [nzAction]="fileHost+'/api/file/upload?category='+flowData.flowTempName"
              [nzHeaders]="{ authorization: 'Bearer ' + token}" (nzChange)="handleChange($event)"
              [nzDownload]="commonHttp.handleDownloadFile" [nzFileList]="currFileList" [nzShowUploadList]="false">
              <button class="file-upload-button">{{'upload' | translate}}</button>
            </nz-upload>
          </ng-template>
        </div>
      </nz-tab>

      <nz-tab nzTitle="Approval Workflow">
        <app-approval-history [historyList]="historyList"></app-approval-history>
      </nz-tab>

    </nz-tabset>
  </nz-page-header-footer>
</nz-page-header>

<jabil-loading style="position: absolute; z-index: 998" *ngIf="loading"></jabil-loading>
<p-toast position="top-center" [ngStyle]="{'z-index': '999'}"></p-toast>
<p-confirmDialog [header]="tip" [style]="{ width: '450px' }"></p-confirmDialog>

<p-dialog header="Workflow Approval" [(visible)]="approvalData.dialogVisible" [style]="{ width: '450px' }">
  <level-one-panel style="height:100%">
    <div *ngIf="approvalData.acttype=='transfer'" class="contents-form-item"
      style="display: flex;align-items: flex-start;width: 100%;margin-bottom: 10px;">
      <label style="width: 120px;"><span class="valid-pre">*</span>{{'field.user.name' | translate}}</label>
      <p-dropdown [emptyMessage]="'no.results.found' | translate" [autoDisplayFirst]="false" [options]="userList"
        [(ngModel)]="approvalData.transferor" [placeholder]="'input.select.please' | translate" [virtualScroll]="true"
        [virtualScrollItemSize]="38" [ngClass]="{'ng-invalid': invalid && !approvalData.transferor}" [filter]="true"
        filterBy="name" appendTo="body" class="w-100" optionLabel="name" optionValue="id"></p-dropdown>
    </div>
    <div class="contents-form-item" style="display: flex;align-items: flex-start;width: 100%;margin-bottom: 10px;">
      <textarea [ngClass]="{ 'ng-invalid':  !approvalData.auditContent }" class="input-text"
        [ngStyle]="{'background-color': '#F7F9FD', 'height': 'auto', 'width': '100%'}" id="float-input"
        [placeholder]="'info.audit.content' | translate" rows="5" cols="30" [(ngModel)]="approvalData.auditContent"
        pInputTextarea></textarea>
    </div>
  </level-one-panel>
  <div class="ui-dialog-buttonpane" style="text-align: center;margin-top: 10px;">
    <button type="button" pButton (click)="approvalData.dialogVisible=false" [label]="'cancel'|translate"></button>
    <button type="button" pButton (click)="approval(approvalData.acttype)"
      [label]="approvalData.acttype|translate"></button>
  </div>
</p-dialog>
<!-- <p-dialog header="Workflow Jump" [(visible)]="jumpDialogVisible" [style]="{ width: '450px' }"></p-dialog> -->
