* {
  font-family: Roboto;
}

.multiSelect-text {
  width: 100% !important;
  background-color: #fff !important;
}

.datatable-details-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;

  .datatable-form {
    width: 100%;
    // overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 20px;

    .form-item {
      width: calc(33.33% - 15px);

      label {
        width: 150px;
      }

      .input-text, nz-input-number {
        width: calc(100% - 160px);
        font-size: 14px !important;
        background: #F7F9FD;
        border: none;
      }
    }
  }
}

.operateBtns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  width: 100%;
  overflow: hidden;

  .operateBtns-btns {
    font-size: 14px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .operateBtns-see {
    color: #147ad9;
  }

  .operateBtns-edit {
    color: #147ad9;
  }

  .operateBtns-delete {
    color: red;
  }
}

.tableBox {
  // overflow: hidden;
  height: calc(100% - 60px);
  border-radius: 20px;

  table,
  tbody {
    display: block;
    height: 50px;
  }

  tbody {
    overflow-y: scroll;
  }

  table thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.messageDialog-form {
  width: 100%;
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  row-gap: 10px;
  padding: 10px;

  .messageDialog-form-item {
    width: 50%;
    // overflow: hidden;
    display: flex;
    align-items: center;
    column-gap: 10px;

    label {
      width: 160px;
      text-align: right;
      color: #414042;
      font-family: Noto Sans SC;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .input-text {
      width: calc(100% - 160px);
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      font-size: 14px;
      // border: 1px solid #eee;
      // background: none;
    }

    .input-number-input {
      width: calc(100% - 160px);
      background-color: #fff;
      font-size: 14px;
    }

    .radio-text {
      width: calc(100% - 150px);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 10px;
      font-size: 14px;
    }
  }
}

:host ::ng-deep {
  .p-radiobutton {
    font-size: 14px !important;
  }

  input {
    background-color: #fff;
  }

  .white-card {
    padding: 20px 20px 0px !important;
  }

  .p-inputtext {
    height: auto;
  }

  // .p-ripple {
  //   background-color: #fff !important;
  // }

  // .p-inputtext {
  //   height: auto !important;
  //   background-color: #fff;
  // }
  .p-dropdown {
    width: 100% !important;
    // background-color: #fff !important;
    // border-bottom: 1px solid #e6e6e6 !important;
  }

  .p-dropdown .p-dropdown-label {
    // border-bottom: 1px solid #e6e6e6 !important;
  }

  // .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  //   background: #e3f2fd !important;
  //   border-color: #e3f2fd !important;
  // }
}

:host ::ng-deep {
  .p-tree {
    background: none !important;
    border: none;
    color: #414042 !important;
  }

  .p-tree-container {
    font-size: 16px;
    color: #414042;
  }

  .main-content .p-multiselect,
  .main-content .p-calendar,
  .main-content .input-text,
  .main-content .p-dropdown,
  .main-content .p-inputtext,
  .main-content input {
    width: 100%;
    // border: 1px solid #e6e6e6;
    // padding-left: 10px;
  }

  .p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: auto !important;
  }

  // .main-content textarea[disabled],
  // .main-content .p-disabled,
  // .main-content nz-select-top-control[ng-reflect-disabled='true'] {
  //   background: transparent !important;
  // }
}

:host ::ng-deep {
  .ant-input-number-input:placeholder-shown {
    background-color: #fff !important;
  }

  .ng-invalid {
    border: none !important;
  }

  .ng-invalid {
    border-radius: 5px !important;
  }

  .p-multiselect {
    width: 100% !important;
    background-color: #fff;
    font-size: 14px !important;
    border: 1px solid #eee;

    &:active {
      border: 1px solid black;
    }
  }

  .p-datatable .p-datatable-thead>tr {
    background: #fff !important;
  }

  // .p-datatable-scrollable .p-datatable-tbody tr:nth-child(2n + 1) {
  //   background-color: #f5f5f5 !important;
  // }

  // .p-datatable .p-datatable-tbody>tr:nth-child(2n + 1) {
  //   background-color: #f5f5f5 !important;
  // }

  .p-inputtext {
    height: auto;
  }

  // .p-ripple {
  //   background-color: #fff !important;
  // }
}

:host ::ng-deep .p-datatable>.p-datatable-wrapper {
  &::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f1f2f2;
    background-color: #f1f2f2 !important;
    border-radius: 3px !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px !important;
    -webkit-box-shadow: inset 0 0 6px #999 !important;
    background-color: #999 !important;
  }
}