* {
  font-family: Roboto;
}

.tableBox {
  width: 100%;
  height: calc(100% - 100px);
  border-radius: 20px;
  padding: 5px;

  .tableCard {
    width: 100%;
    height: 100%;

    table,
    tbody {
      display: block;
      height: 40px !important;
    }

    tbody {
      overflow-y: scroll;
    }

    table thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }
}

.info {
  color: #414042;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 20px;
}

.da-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 40px;
  background: #F7F9FD;
  border-radius: 4px 4px 4px 4px;
}

.xd-flex {
  display: flex;
  justify-content: center;
}

:host ::ng-deep {
  .p-datatable .p-datatable-thead>tr {
    background-color: #fff !important;
  }

  .p-datatable-table>.p-datatable-thead {
    background-color: #fff !important;
  }

  .p-datatable-scrollable .p-datatable-tbody tr:nth-child(2n + 1) {
    background-color: #f5f5f5;
  }

  .p-inputtext {
    height: auto;
  }

  .p-ripple {
    background-color: #fff !important;
  }
}

:host ::ng-deep .p-datatable>.p-datatable-wrapper {
  &::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f1f2f2;
    background-color: #f1f2f2 !important;
    border-radius: 3px !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px !important;
    -webkit-box-shadow: inset 0 0 6px #999 !important;
    background-color: #999 !important;
  }
}