.api-log-form {
  width: 100%;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
  padding: 0px 10px;

  .form-item {
    width: calc(50% - 10px);

    label {
      width: 130px;
    }

    .input-text {
      width: calc(100% - 130px);
      font-size: 14px !important;
    }
  }

  &.zh {
    .form-item {

      label {
        width: 100px;
      }

      .input-text {
        width: calc(100% - 100px);
      }
    }
  }
}